@(score : Integer,totalUsedTime: Double, totalScore : Integer,title : String, user : User)
@header("Human Information Processing Lab :: Report Page")
@nav(user)
<script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

</script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/TDM-demo.css")">
<body>
<div class="expMainWindow" style="height:465px;">
    <div class="expMainWindowFrame">
        <div class="expCenterWord" align="center">
            <h3>คะแนน : @score/@totalScore </h3>
            <h3>เวลา : @{ BigDecimal(totalUsedTime).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble } วินาที</h3>
        </div>
    </div>
    <div class="navContainer">
        <a class="btn btn-danger navButton" href="@routes.VisualSearch.proc()"> กลับไปขั้นตอนการทดลอง </a>
        <a class="btn btn-primary navButton navButtonDemo" href="@routes.VisualSearch.demoPage()"> ทดลองเล่นอีกครั้ง </a>
        <a class="btn btn-success navButton" href="@routes.VisualSearch.experiment(1,1)"> เริ่มการทดลอง </a>
    </div>
</div>
@footer()
