@(trial : models.visualSearch.Trial,questionNo : Integer,width : String, height : String, top : String, left : String)
@import models.visualSearch.Quiz
@import models.visualSearch.Question
@header("Human Information Processing Lab :: Home Page")
<!--
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

</script>
--!>

<script src="@routes.Assets.at("javascripts/visualSearch.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/visualSearch.css")">
<body>

<!-- Page Header -->
<script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
<script src="@routes.Assets.at("javascripts/controllers/visualsearch.js")"></script>
<div class="" >
    <h3 class="hipTitle"align="center"style="margin-top:30px;">Human Information Processing Lab</h3>
    <!-- Dashed line-->
    <div class="titleLine"><!-- --></div>
</div>
<div class="expMainWindow" ng-app="VisualSearchApp" ng-controller="VisualSearchController"
     ng-init="init(@trial.id)">
    <div class="expCenterWord">
        <div class="inst" id="word"></div>
        <div ng-class="{'boxEx':target.sharp == 'square', 'circleEx' : target.sharp == 'circle'}" id="circleEx" 
        style="border-color:{{colorToString(target.color)}}"></div>
    </div>
    <form action="@routes.VisualSearch.saveAnswer(trial.id,questionNo)" method="post" >

        <div class="visualArea" style="left:@left;top:@top;width:@width;height:@height;" id="visualArea">
            <button ng-repeat="sharp in sharps" ng-class="{'box':sharp.sharp == 'square', 'circle' : sharp.sharp == 'circle'}"
            name = "noise" style="left:{{sharp.left}}%;top:{{sharp.top}}%;border-color:{{colorToString(sharp.color)}}" onclick="shapeClick(this)"></button>
            <button ng-class="{'box':target.sharp == 'square', 'circle' : target.sharp == 'circle'}" name = "target" style="left:{{target.left}}%;top:{{target.top}}%;border-color:{{colorToString(target.color)}}"
            onclick="shapeClick(this)"></button>
        </div>
        <input id="usedTime" name="usedTime" hidden/>
        <input id="positionX" name="positionX" hidden/>
        <input id="positionY" name="positionY" hidden/>
        <input id = "isCorrect" name = "isCorrect" type="checkbox" hidden/>
    </form>
</div>
@footer()
