@(trial : models.magicNumber7.Trial, questionNo : Integer)
@header("Human Information Processing Lab :: Home Page")

<script src="@routes.Assets.at("javascripts/formHandle.js")"></script>
<script src="@routes.Assets.at("javascripts/magicNumber7.js")"></script>
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/TDM-demo.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/MagicNO7.css")">
<body>
<div class="fixSize">
    <!-- Page Header -->
    <div class="">
        <h3 class="hipTitle"align="center"style="margin-top:30px;">Human Information Processing Lab</h3>
        <!-- Dashed line-->
        <div class="titleLine"></div>
    </div>

    <form action="@routes.MagicNumber7.saveAnswer(trial.id, questionNo)" method="post">
        <div class="choiceMagic" align="center" id="choice" >
            @for(s <- trial.quizzes(questionNo).question.memorySet){
                <input class="inputBox inputMagic" autocomplete="off" maxlength="1" type="text" oninput="textHandler()" />
            }
            <button type="submit" class="btn btn-success ansButton" id="confirm"  name="confirm"onclick="return done()"  > ยืนยัน </button>

    <div class="expMainWindow" style="height:507px;">
        <div class="expCenterWord" id="cen">
            <p id="word">  </p>

        </div>
        <form action="@routes.MagicNumber7.saveAnswer(trial.id, questionNo)" method="post" >
            <div class="choiceMagic" align="center" id="choice" >
                @for(s <- trial.quizzes(questionNo).question.memorySet){
                    <input class="inputBox inputMagic magicInputBox" autocomplete="off" maxlength="1" type="text" />
                }
            </div>
            <div class="choiceMagic" align="center" >
                <button type="submit" class="btn btn-success ansButton submitSeven"style="float:right; width:15%;" id="confirm"  name="confirm"onclick="return done()"  > ยืนยัน </button>
            </div>
            <input id="answer" name="answer" hidden/>
            <input id="usedTime" name="usedTime" hidden/>
            <input id="score" name="score" hidden/>
        </form>
        <p id="memorySet"  hidden>@trial.quizzes(questionNo).question.memorySet</p>
        <p id="displayTime" hidden>@trial.quizzes(questionNo).displayTime</p>
        <p id="chunkSize" hidden>@trial.quizzes(questionNo).chunkSize</p>
    </div>
    @footer()
</div>
