@(trial : models.sternbergSearch.Trial, questionNo : Integer, isShowQuestion : Boolean)
@header("Human Information Processing Lab :: Home Page")

<script src="@routes.Assets.at("javascripts/sternbergSearch.js")"></script>
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/TDM-demo.css")">
<body>
<div class="fixSize">

    <!-- Page Header -->
    <div class="">
        <h3 class="hipTitle"align="center"style="margin-top:30px;">Human Information Processing Lab</h3>
        <!-- Dashed line-->
        <div class="titleLine"></div>
    </div>
    <div class="expMainWindow" style="height:507px;">
        <div class="expCenterWord">
            <p id="word">  </p>
        </div>
        <form id="answerForm" action="@routes.SternbergSearch.saveAnswer(trial.id,questionNo)" method="post" >
            <div class="choice" align="center" id="choice" >
                <button type="submit" class="btn btn-danger ansButton" id="maiMe" name="maiMe" onclick="return submitButtonClick(this.name)"> ไม่มี </button >
                <button type="submit" class="btn btn-success ansButton" id="me"  name="me"onclick="return submitButtonClick(this.name)"  > มี  </button >
            </div>
            <input id = "answer" name = "answer" type="checkbox" hidden/>
            <input id = "usedTime" name = "usedTime" type="text" hidden/>
            <input id = "isCorrect" name = "isCorrect" type="checkbox" hidden/>
        </form>

        <p id="blinkTime" hidden>@trial.blinkTime</p>
        <p id="memorySet" hidden>@trial.quizzes(questionNo).question.memorySet</p>
        <p id="questionChar" hidden>@trial.quizzes(questionNo).questionChar</p>
        <p id="isTrue" hidden>@trial.quizzes(questionNo).isTrue</p>
        <p id="isShowQuestion" hidden>@isShowQuestion</p>

    </div>
    @footer()
</div>
