@(user : User)
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
@nav(user)
<!-- Content -->
<!-- Explanation -->
<div class="infoContainer">
    <!-- Right Panel -->
    <div class="infoButton" >
        <div align="center">
            <img src="@routes.Assets.at("images/stm04_sternberg_search.png")" class="divPngInfo">
            <h6 class="marginWord"> Sternberg Search</h6>
        </div>
        <!-- Buttons -->
        <div class="infoButtonContainer">
            <div class="infoRedButton">
                <a href="@routes.Application.selectExperiment()" class=" btn btn-block btn-lg btn-danger"  ><span class="glyphicon glyphicon-chevron-left" ></span> ย้อนกลับ</a>  &nbsp;
            </div>

            <div class="infoGreenButton">
                <a href="@routes.SternbergSearch.proc()" class=" btn btn-block btn-lg btn-primary"> อ่านขั้นตอนการทดลอง<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div class="infoContent">
        <iframe src="@routes.SternbergSearch.infoIframe()" frameborder="0" width="450" height="350"></iframe>
    </div>
</div>
@footer()
