@(user : List[User])
@head_admin("Admin Panel")
@nav_admin()

<script>
    function submitNewUsers(){
        var e = document.getElementById("statusInput");
        var statusUser = e.options[e.selectedIndex].text;
        document.getElementById("userStatus").value = statusUser;
        document.forms["answerForm"].submit();

    }
</script>

        <div class="container borderDiv">

            <h3 align="left">Add New User </h3>

        <form id="answerForm" action="@routes.Admin.saveUser(0)" method="post" >
          <div class="textArea">
            <h4>**Username</h4>
            <p><i>Enter a new line to seperate users</i></p>
            <textarea name="users" rows="10" cols="50" ></textarea>
            <p><i><font color="red">**Required field</font></i></p>
              @if(flash.containsKey("nullUser")) {
              <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  @flash.get("nullUser")
              </div>
              }
          </div>
                <div class="addUserInput">
                  <div class="form-group">
                        <label for="section" class="col-sm-4 control-label">
                            Status
                        </label>
                          <select id="statusInput">

                              <option value="student">STUDENT</option>
                              <option value="student">GUEST</option>
                              <option value="admin">ADMIN</option>

                          </select>
                        <input type="text" id="userStatus" name = "userStatus" hidden>
                  </div>
                  <div class="form-group">
                        <label for="year" class="col-sm-4 control-label">
                            Year
                        </label>
                      <div class="col-sm-1">
                          <input style="width:50px;"type="number" min="1" max="7" class="form-control" onkeypress='validateSemester(event)'id="yearInput"  autocomplete="off" name="year" value="1">
                      </div>
                        <div>
                            <label class="alertText" id="yearAlert"  > <i> *  Please enter Year</i></label>
                        </div>
                  </div>
                  <div class="form-group">
                       <label for="section" class="col-sm-4 control-label"> 
                              Section
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" onkeypress='validateSemester(event)' autocomplete="off" name="section" id="sectionInput">
                        </div>
                        <div>
                            <label class="alertText" id="sectionAlert"  > <i> *  Please enter Section</i></label>
                        </div>
                  </div>
                  <div class="form-group">
                       <label for="semester" class="col-sm-4 control-label">
                              Semester / Academic Year
                        </label>
                        <div class="col-sm-1">
                            <input style="width:50px;"type="number" min="1" max="3" class="form-control" onkeypress='validateSemester(event)'id="semesterInput"  autocomplete="off" name="semester">
                        </div>
                        <div class="slash" style="margin-left:30px;"> / </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="academicYear" onkeypress='validateSemester(event)' autocomplete="off" name="academicYear" >
                        </div>
                        <div>
                            <label class="alertText" id="semesterAlert"  > <i> *  Please enter semester </i></label>
                        </div>
                  </div>

                  <div class="form-group">
                       <label for="department" class="col-sm-4 control-label">
                           Department
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="departmentInput" autocomplete="off" name="department" >
                        </div>
                        <div>
                            <label class="alertText" id="departmentAlert"  > <i> *  Please enter department</i></label>
                        </div>
                  </div>


                  <div class="form-group">
                       <label for="faculty" class="col-sm-4 control-label">
                           Faculty
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="facultyInput" autocomplete="off" name="faculty" >
                        </div>
                        <div>
                            <label class="alertText" id="facultyAlert"  > <i> *  Please enter faculty</i></label>
                        </div>
                  </div>
                </div>
        </form>
            <hr class="divider" width="100%">
            <div align="center">
                <a href="@routes.Admin.renderUserInfo()" type="button" class="cancelNewUserButton btn btn-default glyphicon"> Cancel</a>
                <button type="button"class="submitNewUserButton btn btn-success glyphicon glyphicon-plus" onclick="submitNewUsers()"> Submit</button>
            </div>
        </div>
@footer()