@headadmin("Human Information Processing Lab :: Home Page")
<body>
<!-- Page Header -->
@nav()
<!-- Content -->
<div align="middle">
    <div>Create Experiment</div>
    <div>
        <button type="button" value="n"><a href="@routes.AdminController.createExpBrownPeterson()">Brown Peterson</a></button>
        <button type="button" value="n"><a href="">Attention Blink</a></button>
        <button type="button" value="n"><a href="">Stroop Effect</a></button>
        <button type="button" value="n"><a href="">Change Blindness</a></button>
    </div>
</div>
<!-- Explanation -->
@footer()
