@headadmin("Human Information Processing Lab :: Home Page")
<body>
<!-- Page Header -->
@nav()
<!-- Content -->
<div align="middle">
	<form>
		<h5>Brown Peterson</h5>
	    <div>ชื่อการทดลอง : <input type="text" placeholder="ชื่อการทดลอง"/></div>
	    <div>Start Date : <input type="text" id="startDate" placeholder="Start Date" /></div>
	    <div>Expire Date : <input type="text" id="expireDate" placeholder="Expire Date" /></div>
	    <div>Countdown Number : <input type="text" value="100" placeholder="Countdown Number" /></div>
	    <div><span>Number of Trial : 
	    	<select>
	    		<option>1</option>
	    		<option>2</option>
	    		<option selected="selected">3</option>
	    		<option>4</option>
	    		<option>5</option>
	    		<option>6</option>
	    		<option>7</option>
	    		<option>8</option>
	    		<option>9</option>
	    	</select></span>
	    	<span>Flash Time : 
	    	<select>
	    		<option>1</option>
	    		<option>2</option>
	    		<option>3</option>
	    		<option>4</option>
	    		<option selected="selected">5</option>
	    		<option>6</option>
	    		<option>7</option>
	    		<option>8</option>
	    		<option>9</option>
	    	</select></span>
	    </div>
	    <div>Type : <input type="radio" checked> Word <input type="radio"> non-sense</div>
	    <div>Language : <input type="radio" checked> English <input type="radio"> Thai</div>
	    <div><button class="sbutton" disabled id="SubmitButton" type="submit">Submit</button></div>
	</form>
</div>
<!-- Explanation -->
@footer()
