<!DOCTYPE html>
<html>
<head>
    <title>Export Data</title>
</head>
<body>

    <table>

        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>Attention Blink</th>
            <th><a href="@routes.ExportController.downloadAttentionBlink()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Brown Peterson</th>
            <th><a href="@routes.ExportController.downloadBrownPeterson()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Change Blindness</th>
            <th><a href="@routes.ExportController.downloadChangeBlindness()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Garner Interference</th>
            <th><a href="@routes.ExportController.downloadGarnerInterference()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Magic Number 7</th>
            <th><a href="@routes.ExportController.downloadMagicNumber7()"><button>Export</button></a></th>
        </tr>
        </tbody>
    </table>

</body>
</html>