<!DOCTYPE html>
<html>
<head>
    <title>Export Data</title>
</head>
<body>

    <table>

        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

        <tr>
            <th>User</th>
            <th><a href="@routes.ExportController.downloadUser()"><button>Export</button></a></th>
        </tr>

        <tr>
            <th>Experiment Schedule</th>
            <th><a href="@routes.ExportController.downloadExperimentSchedule()"><button>Export</button></a></th>
        </tr>

        <tr>
            <th>TimeLog</th>
            <th><a href="@routes.ExportController.downloadTimeLog()"><button>Export</button></a></th>
        </tr>

        <tr>
            <th>Attention Blink</th>
            <th><a href="@routes.ExportController.downloadAttentionBlink()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Brown Peterson</th>
            <th><a href="@routes.ExportController.downloadBrownPeterson()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Change Blindness</th>
            <th><a href="@routes.ExportController.downloadChangeBlindness()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Garner Interference</th>
            <th><a href="@routes.ExportController.downloadGarnerInterference()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Magic Number 7</th>
            <th><a href="@routes.ExportController.downloadMagicNumber7()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Muller Layer</th>
            <th><a href="@routes.ExportController.downloadMullerLayer()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Position Error</th>
            <th><a href="@routes.ExportController.downloadPositionError()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Signal Detection</th>
            <th><a href="@routes.ExportController.downloadSignalDetection()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Simon Effect</th>
            <th><a href="@routes.ExportController.downloadSimonEffect()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Sternberg Search</th>
            <th><a href="@routes.ExportController.downloadSternbergSearch()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Stroop Effect</th>
            <th><a href="@routes.ExportController.downloadStroopEffect()"><button>Export</button></a></th>
        </tr>
        <tr>
            <th>Visual Search</th>
            <th><a href="@routes.ExportController.downloadVisualSearch()"><button>Export</button></a></th>
        </tr>
        </tbody>
    </table>

</body>
</html>