@(title :String)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css ")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.10.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/modernizr-2.6.2-respond-1.1.0.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/admin.css ")">
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
    <title>@title</title>
    
</head>
