.homeButton{
    width:150px;
}

#panel01,#img01
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
.tableHeader{
    margin:0px auto;
}

.addUserButton{
    float:right;
    margin-bottom:10px;
}
.textArea{
    float: left;
    margin-left: 40px;
    padding-top: 25px;
}
.addUserInput{
    width:50%;
    float:left;
    margin: 2% 0% 0% 4%;
}
.submitButton{
    float: left;
    margin: 25px auto 0px 25px;
}
th{
    text-align:center;
}
.tableContent{
    text-align:center;
}
.hc{
    background-color:#E9E9E9;
}

.adminNavBar{
    float: left;
    height: 50px;
    width: 800px;
    font-size: 20px;
    margin-left:20px;
    color: white;
}

.adminNavBarText{
    color:white; 
    position: relative;
    top: 18%;
}
.naviBarFix{
    position:fixed;
    width:100%;
}

.adminBody{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.trial-box-left{
    border-right: 1px solid #ccc;
}
.trial-box-right{
    margin-top: auto;
    margin-bottom: auto;
}

.sub-button{
    margin-top: 10px;
}
.no-margin-bottom{
    margin-bottom: 0;
}

.number-input {
    margin-right:10px;
}

.date-feedback {
    right:-30px !important;
}

.block-top{
    margin-top:20px;
}

.adminIndexHeaderContainer{
    height:60px;
    width:100%;  
}
.adminIndexHeaderText{
    font-size:x-large;
    margin:0.5% 0 0 3%;
    width:25%;
    float:left;
}
.adminHeaderBtn{
    float:right;
    margin-top:0.5%;
    margin-right:1%;
}
.adminGlyBtn{
    margin-right:10px;
}
.adminUserinfoTableContainer{
    width:96%;
    margin:auto;
}
.modalWarning{
    color:red;
    font-size:large;
}
.modalDelete{
    font-size:x-large;
}
.adminFindByUser{
    height:500px;
}
.adminFindResultTabContainer{   
    width:96%;
    margin-left:2%;
}
.RowCointainer{
    width:30%;
    margin:2% 2% 0 2%;
    float:left;
}
.statusDropdown{
    width:200px;
    height:34px;
}
