.homeButton{
    width:150px;
}

#panel01,#img01
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
.tableHeader{
    margin:0px auto;
}

.deleteSelectButton{
    float:right;
    margin-bottom:10px;
    margin-right: 50px;
}
.userInfoButton{
    float:right;
    margin-bottom:10px;
    margin-left: 10px;
}
.smallEditButton{
    float:right;
	margin-top:10px;
    margin-bottom:10px;
}
.smallDelButton{
    float:right;
	margin-top:10px;
    margin-bottom:10px;
	margin-left: 5px;
}
.textArea{
    float: left;
    margin-left: 40px;
    padding-top: 25px;
}
.addUserInput{
    width:50%;
    float:left;
    margin: 2% 0% 0% 4%;
}
.submitButton{
    float: left;
    margin: 25px auto 0px 25px;
}
th{
    text-align:center;
}
.tableContent{
    text-align:center;
}
.hc{
    background-color:#E9E9E9;
}

.adminNavBar{
    float: left;
    height: 50px;
    width: 800px;
    font-size: 20px;
    margin-left:20px;
    color: white;
}

.adminNavBarText{
    color:white; 
    position: relative;
    top: 18%;
}
.naviBarFix{
    position:fixed;
    width:100%;
}

.adminBody{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.trial-box-left{
    border-right: 1px solid #ccc;
}
.trial-box-right{
    margin-top: auto;
    margin-bottom: auto;
}

.sub-button{
    margin-top: 10px;
}
.no-margin-bottom{
    margin-bottom: 0;
}

.number-input {
    margin-right:10px;
}

.date-feedback {
    right:-30px !important;
}

.block-top{
    margin-top:20px;
}