.homeButton{
    width:150px;
}

#panel01,#img01
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
.tableHeader{
    margin:0px auto;
}

.deleteSelectButton{
    float:right;
    margin-bottom:10px;
    margin-right: 50px;
}
.userInfoButton{
    float:right;
    margin-bottom:10px;
    margin-left: 10px;
}
.expInfoButton{
    float:right;
    margin-left:10px;
}
.smallEditButton{
    float:right;
	margin-top:10px;
    margin-bottom:10px;
}
.smallDelButton{
    float:right;
	margin-top:10px;
    margin-bottom:10px;
	margin-left: 5px;
}
.textArea{
    float: left;
    margin-left: 40px;
    padding-top: 25px;
}
.addUserInput{
    width:50%;
    float:left;
    margin: 2% 0% 0% 4%;
}
.findExpInput{
    width:65%;
    float:left;
    margin: 2% 0% 0% 4%;
}
.submitButton{
    float: left;
    margin: 25px auto 0px 25px;
}
th{
    text-align:center;
}
.tableContent{
    text-align:center;
}
.hc{
    background-color:#E9E9E9;
}

.adminNavBar{
    float: left;
    height: 50px;
    width: 800px;
    font-size: 20px;
    margin-left:20px;
    color: white;
}

.adminNavBarText{
    color:white; 
    position: relative;
    top: 18%;
}
.naviBarFix{
    position:fixed;
    width:100%;
}

.adminBody{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.trial-box-left{
    border-right: 1px solid #ccc;
}
.trial-box-right{
    margin-top: auto;
    margin-bottom: auto;
}

.sub-button{
    margin-top: 10px;
}
.no-margin-bottom{
    margin-bottom: 0;
}

.number-input {
    margin-right:10px;
}

.date-feedback {
    right:-30px !important;
}

.block-top{
    margin-top:20px;
}

.adminIndexHeaderContainer{
    height:60px;
    width:100%;  
}
.adminIndexHeaderText{
    font-size:x-large;
    margin:0.5% 0 0 3%;
    width:25%;
    float:left;
}
.adminHeaderBtn{
    float:right;
    margin-top:0.5%;
    margin-right:1%;
}
.adminGlyBtn{
    margin-right:10px;
}
.adminUserinfoTableContainer{
    width:96%;
    margin:auto;
}
.modalWarning{
    color:red;
    font-size:large;
}
.modalDelete{
    font-size:x-large;
}
.adminFindByUser{
    height:500px;
}
.adminFindResultTabContainer{   
    width:96%;
    margin-left:2%;
}
.RowCointainer{
    width:30%;
    margin:2% 2% 0 2%;
    float:left;
}
.statusDropdown{
    width: 200px;
    height: 34px;
    margin-left: 15px;
    border-radius: 4px;
    border-color: lightgray;
}
.divider{
    float: left;
    display: inline-block;
    box-shadow: 2px 2px 0 lightgray;
    width: 80%;
    height: 1px;
    margin-left: 10%;
    margin-top: 2%;
}
.dividerUserInfo{
    display: inline-block;
    box-shadow: 2px 2px 0 lightgray;
    width: 100%;
    height: 1px;
}
.adminFindByUserBtn{
    float: right;
    margin: 2% 0% 0 0;
}
.findUserInput input{
    margin-left:15px;
}

.admin .ng-invalid {
    border: 2px solid #ff371c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0021e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0021e;
}

.border-active {
    border: 3px solid #0600ff;
}

.memory-set{
    font-weight: bold;
    color: #003DFF;
}