.graphContainer{
    height:460px;
    width:43%;
    margin-left:5%;
    margin-bottom:25px;
    float:left;
}
.panelContainer{
    height:460px;
    width:43%;
    margin-left:5%;
    margin-bottom:25px;
    float:left;
}
.experimentName{
    width:100%;
    display:inline-block; 
    text-align:center;
    font-size:40px;
    margin-bottom:3%;
}
.graphBox{
    width:48%;
    height:70%;
    float:left;
    position:relative;
}
.beam{
    position:absolute;
    bottom:0%;
    width:12%;
}
.graphLine{
    box-shadow:0px 2px 0px lightgray;
    width:85%;
    height:2px;
    position:absolute;
    left:15%;
}
.graphLineTag{
    position:absolute;
    left:2%;
}
.graphTag{
    width:50%;
    text-align:center;
    margin-top:1%;
    font-size:20px;
    float:left;
}
.beam1{
    background-color:#f2dede;
    height:13%; 
    border:solid;/*demo*/
    border-width:1px;
    border-color:#a94442;
    border-bottom:none;
}
.beam2{
    background-color:#d9edf7;
    height:60%;/*demo*/
    border:solid;
    border-width:1px;
    border-color:#31708f;
    border-bottom:none;
}
.beam3{
    background-color:#dff0d8;
    height:80%;/*demo*/
    border:solid;
    border-width:1px;
    border-color:#3c763d;
    border-bottom:none;
}
.beam4{
    background-color:#fddf71;
    height:20%;/*demo*/
    border:solid;
    border-width:1px;
    border-color:#8a6d3b;
    border-bottom:none;
}
.panelSize{
    width:48%;
    margin-right:2%;
    height:40%;
    margin-top:1%;
    float:left;
    
}
.dropDownTag{
    width:7em;
    float:left;
    font-size:20px;
}
.dropDownContainer{
    width:50%;
    float:left;
}
.selectExResultBox{
    width:40%;
    height:30px;
    float:left;
    margin-left:5%;
}
.dropdownSize{
    width:310px;
    margin-top:3px !important;
    max-height:420px;
    overflow:overlay;
}
.dropdownHeader{
    display:block;
    padding:3px 20px;
    color:dimgray;
    font-size:15px;
    line-height:2;
}
.dropdownLi{
    text-align:center;
}
.gear{
    border-width:1px;
    border-radius:5px;
    height:28px;
    background-color:lightgray;
    float:right;
    margin-top:-1.5%;
}
.trialTag{
    width:70%;
    display:inline;
    height:30px;
    margin-right:2%;
    margin-top:-1.5%;
    float:right;
    text-align:center;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    background:rgba(100,100,100,0.8);
    width:100%;
    height:inherit;
    visibility:hidden;
}
.box{
    background:#fff;
    width:1000px;
    height:600px;
    margin:80px auto;
    padding:5px 15px;
    border-radius:10px;
    box-shadow: 0 0 20px 0 #303030;
}
.closeX{
    border:none;
    background-color:transparent;
    margin-right:1%;
    width:30px;
}
.OverlayExpName{
    font-size:161%;
    width:100%;
    margin:1%;
}
.OverlayTagSize{
    width:15%;
    float:left;
    margin-left:2%;
}
.OverlayTextBoxContainer{
    width:23%;
    float:left;
}
.OverlayTextBox{
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    border:solid;
    border-color:lightgray;
}
.Overlaybutton{
    width:30px;
    height:30px;
}
.OverlayDateTag{
    float:left;
    margin: 0 1% 0 1%;
    padding-top:0.5%;
    font-size:120%;
    display:inline-block;
}
.findTrialButton{
    height:148%;
    margin-bottom:6.5%;
}
.trialInputContainer{
    width:100%;
    height:30px;
    float:left;
    display:inline-block;
    margin-top:1%;
}
.nav li {
    padding:10px 30px;
}
.overlayTable{
    text-align:center;
}
.pagingContainer{
    width:1000px;
    height:35px;
    display:block;
    margin-top:-25px;
}
