.graphContainer{
    height:460px;
    width:43%;
    margin-left:5%;
    margin-bottom:25px;
    float:left;
}
.panelContainer{
    height:460px;
    width:43%;
    border:solid;
    border-color:red;
    border-width:1px;
    margin-left:5%;
    margin-bottom:25px;
    float:left;
}
.experimentName{
    width:100%;
    display:inline-block; 
    text-align:center;
    font-size:40px;
    margin-bottom:3%;
}
.graphBox{
    width:48%;
    height:70%;
    float:left;
    position:relative;
}
.beam{
    position:absolute;
    bottom:0%;
    width:12%;
}
.graphLine{
    box-shadow:0px 2px 0px black;
    width:85%;
    height:2px;
    position:absolute;
    left:15%;
}
.graphLineTag{
    position:absolute;
    left:2%;
}
.graphTag{
    width:50%;
    text-align:center;
    margin-top:1%;
    font-size:20px;
    float:left;
}
.beam1{
    background-color:#EF9E84;
    height:13%;
}
.beam2{
    background-color:#7ED3E7;
    height:60%;
}
.beam3{
    background-color:#7FE6AF;
    height:80%;
}
.beam4{
    background-color:#F7F09D;
    height:20%;
}
.panelSize{
    width:48%;
    margin-right:2%;
    height:40%;
    margin-top:1%;
    float:left;
    
}
