.choiceMagic{
    position:relative;
    top:100px;
    width:100%;
}

.inputMagic{
    width:2.5em;
    Height:2.5em;
    text-align:center;
    visibility: hidden;
    font-size:2.5em;
}
.submitSeven{
    margin-top:4%;
    margin-right:27.5%;
    
}
.magicInputBox{
    margin-right:1%;
    margin-left:1%;
}
