#panel01,#img01
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel01
{
padding:0px;
display:none;
background-color:#ffffff;
width:631px;
}


#panel02,#img02
{
padding:0px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel02
{
padding:0px;
display:none;
background-color:#ffffff;
width:631px;
}

#panel03,#img03
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel03
{
padding:0px;
display:none;
background-color:#ffffff;
width:631px;
}
.marginWord{
    margin: 15px auto 30px 40px;
}
/*-----------------------Animation ------------------------------------------------------------*/
.animation{
    background:white;
    -webkit-animation:test 1s infinite;
}

@-webkit-keyframes test{
    form{background:white;}
    to{background:gray;}
}

.answerBox{
    margin:auto;
    margin-bottom:2em;
    height:82px;
    width:720px;
}
/*---------------------home -------------------------------------------------------------------*/

.homeMenu1{
    float:left;
    padding:20px 20px 30px 20px;
    border:none;size:200px 200px;
    margin:auto ;
}

.homeMain{
    height:305px;
    width:631px;
    margin:auto ;
}
.divSlideContainer{
    margin:auto;
    height:240px;
    width:500px;
}
.divSlideTitle{
     font-size:large;
     padding:0px 0px 5px 0px;
     color:#FFFFFF;
     background-color:#95A5A6
}
.divExperimentIcon{
    width:250px;
    height:200px;
    margin:auto auto auto auto;
    float:left;

}
.divContainer{
    width:500px;
    height:200px;
    margin:12px auto auto auto;
}
.divContainer1{
    width:250px;
    height:200px;
    margin:auto auto auto auto;
}

.divPngInfo{
     margin-left: 14px ;
     padding:15px 50px 15px 50px;
     width:220px;
     height:140px;
     border-width:0px;

}
.divPng{
     padding:15px 50px 15px 50px;
     width:220px;
     height:140px;
     border-width:0px;

}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.infoContainer{
     width:900px;
     height:350px;
     margin: 50px auto 50px auto;
     
}
.procContent{
     width:900px;
     height:350px;
     margin-top: 50px;
}
.procBody{
     width:900px;
     height:500px;
     margin:auto;
}
.procButtonContainer{
     width:900px;
     height:200px;
     margin-top:1em;
}
.procButtonGreen{
     width:300px;
     float:left;
     margin-left:70px;
}
.procButtonRed{
     width:150px;
     float:left;
     margin-left:300px;
}
.infoContent{
     float:left;
     width:450px;
     height:350px;
}

.infoButton{
     float:left;
     margin-left: 30px;
     width:250px;
     height:350px;
}
    
.iframeContent{
     height:350px;
     padding-left:1em;
     padding-top:2em;
     padding-bottom:2em;
     padding-right:1em;
     background-color:#ECF0F1;
     font-family:Tahoma, 'Microsoft Sans Serif', AngsanaUPC, CordiaUPC;
}
.procNotification{
     color:#CC3300;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.hipTitle{
    color:#34495E;
    background:#BDC3C7;
    padding:20px 100px;
    margin-top: 0px;
    
}
.login-bar{
    margin-bottom: 0px;
    text-align: right;
}
.login-bar span{
    font-size: 14px;
}
.titleLine{
    color:#34495E;
    padding:10px 100px;
    border-color:#BDC3C7;
    border-top-style:dashed;
    
}
.topMenu{
    font-size:large;
    font-family:Tahoma,"Microsoft Sans Serif", AngsanaUPC, CordiaUPC;

}
.middle{
    height:350px;
    width:800px;
    margin:auto ;
}


.cstuIcon{
    float:left;
    width:300px;
    margin-top:50px;
}
    
.loginI{
    margin-left:35px;
    float:left;
    width:350px;
}
.footLine{
 color:#34495E;
 padding: 10px;
 border-color:#BDC3C7;
 border-top-style:dashed;
 bottom: 5em;
 width:100%;
}

.footDiv{
color:#34495E; 
background-color:#BDC3C7; 
padding:5px;
bottom : 20px;
width:100%;
height:4em;
}
.center{
padding-top:8em;
}
