#panel01,#img01
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel01
{
padding:0px;
display:none;
background-color:#ffffff;
width:631px;
}


#panel02,#img02
{
padding:0px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel02
{
padding:0px;
display:none;
background-color:#ffffff;
width:631px;
}

#panel03,#img03
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel03
{
padding:0px;
display:none;
background-color:#ffffff;
width:631px;
}
.marginWord{
    margin: 15px auto 30px 40px;
}
/*-----------------------Animation ------------------------------------------------------------*/

/*---------------------home -------------------------------------------------------------------*/

.homeMenu1{
    float:left;
    padding:20px 20px 30px 20px;
    border:none;size:200px 200px;
    margin:auto ;
    margin-left:1em;
}

.homeMain{
    height:305px;
    width:700px;
    margin:0px auto;
}
.divSlideContainer{
    margin:auto;
    height:240px;
    width:500px;
}
.divSlideTitle{
     font-size:large;
     padding:0px 0px 5px 0px;
     color:#FFFFFF;
     background-color:#95A5A6
}
.divExperimentIcon{
    width:250px;
    height:200px;
    margin:auto auto auto auto;
    float:left;

}
.divContainer{
    width:500px;
    height:200px;
    margin:12px auto auto auto;
}
.divContainer1{
    width:250px;
    height:200px;
    margin:auto auto auto auto;
}

.divPngInfo{
     margin-left: 14px ;
     padding:15px 50px 15px 50px;
     width:70%;
     height:60%;
     border-width:0px;

}
.divPng{
     padding:15px 50px 15px 50px;
     width:220px;
     height:140px;
     border-width:0px;

}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.resultContentLine{
    width:100%;
    height:60px;
    margin-top:30px;
}
.showResultContent{
    width:300px;
    font-size:40px;
    float:left;
    margin: 0px auto auto 100px;
    
}
.showResultScore{
    width:200px;
    font-size:40px;
    float:left;
    margin: 0px auto auto auto;
}
.showResultUnit{
    width:150px;
    font-size:40px;
    float:left;
    margin: 0px auto auto auto;
    
}
.infoContainer{
     width:950px;
     height:350px;
     margin: 50px auto 50px auto;
     
}
.procContent{
     width:900px;
     height:350px;
     margin-top: 50px;
}
.procBody{
     width:900px;
     height:500px;
     margin:auto;
}
.procButtonContainer{
     width:900px;
     height:100px;
     margin-top:1em;
}
.procButtonGreen{
     width:300px;
     float:left;
     margin-left:70px;
}
.procButtonRed{
     width:150px;
     float:left;
     margin-left:300px;
}
.infoContent{
     float:left;
     width:450px;
     height:350px;
}

.infoButton{
     float:left;
     width:450px;
     height:350px;
}
    
.iframeContent{
     height:350px;
     padding-left:3em;
     padding-top:15px;
     padding-bottom:2em;
     padding-right:2em;
     background-color:#ECF0F1;
     font-family:Tahoma, 'Microsoft Sans Serif', AngsanaUPC, CordiaUPC;
     border-radius:25px;
}
.procNotification{
     margin-left:1em;
     margin-right:1em;
     color:#CC3300;
}
.infoButtonContainer{
    position:relative;
    bottom:10px;
    right:-35px;
    width:450px;
}
.infoRedButton{
    float:left;
    width:130px;
}
.infoGreenButton{
    float:left;
    margin-left: 25px;
    width:250px;
}
/*-------------------------------------Experiment Page------------------------------------------------------------------------------------------------------*/
.answerBox{
    margin: 0px auto;
    height:180px;
    width:1350px;

}

.rabbitContainer{
    width:300px;
    height:200px;
    padding-top:1em;
    padding-right:1em;
    margin:auto;
    margin-top:1em;
    margin-bottom:2em;
}
.questionBox{
    width:60em;
    height:50px;
    font-size:20px;
    margin:auto;
    margin-top:2em;
    margin-bottom:2em;
}
.counterText{
    visibility: hidden;
    width:100px;
    height:50px;
    font-size:50px;
}
.questionWord{
    float:left;
    width:7em;
    height:50px;
    font-size:40px;
    margin-left:2em;
}
.inputBox{
    width:7em;
    padding:0px;
    font-size:2em;
    border: 2px solid #185daa;
    margin:20px auto;
    margin-right:1em;
}
.inputNumberBox{
    width:3em;
    padding:0px;
    font-size:2em;
    border: 2px solid green;
    margin:20px auto;
    margin-right:1em;
    margin-left:1em; 

}

.headerBox{
    font-size: 40px;
    margin-left:5%;
}

.headerNumberBox{
    font-size: 40px;
    margin-left:695px;
}

/*-----------------------------------------------------------------------------------------------------------------*/
.hipTitle{
    color:#34495E;
    background:#BDC3C7;
    padding:20px 100px;
    margin-top: 0px;
}
.login-bar{
    margin-bottom: 0px;
    text-align: right;
}
.login-bar span{
    font-size: 14px;
}
.titleLine{
    color:#34495E;
    padding:10px 100px;
    border-color:#BDC3C7;
    border-top-style:dashed;
    
}
.topMenu{
    font-size:large;
    font-family:Tahoma,"Microsoft Sans Serif", AngsanaUPC, CordiaUPC;

}
.middle{
    height:350px;
    width:800px;
    margin:auto ;
}


.cstuIcon{
    float:left;
    width:300px;
    margin-top:50px;
}
    
.loginI{
    margin-left:35px;
    float:left;
    width:350px;
}
.footLine{
 color:#34495E;
 padding: 10px;
 border-color:#BDC3C7;
 border-top-style:dashed;
 bottom: 5em;
 width:100%;
}

.footDiv{
color:#34495E; 
background-color:#BDC3C7; 
padding:5px;
bottom : 20px;
width:100%;
height:4em;
}
.center{
padding-top:8em;
}


/*-----------------------------------------------*/



.sbutton {

    -webkit-transform: translateY(-8%);
    -ms-transform: translateY(-8%);
    transform: translateY(-8%); 
  text-align: center;
  border-radius:4px;
  text-decoration: none;
  background: #69c773;
  background-color: rgb(105, 199, 115);
  -webkit-box-shadow: 0 4px 0 0 #51a65f;
  -moz-box-shadow: 0 4px 0 0 #51a65f;
  box-shadow: 0 4px 0 0 #51a65f;
  font-size: 20px !important;
  padding: 15px 20px;
  width: 250px;
  color: #FFF;
}
.sbutton:hover {
  cursor: pointer;
  color: #51A65F;
}

/* Admin Panel */
.admin-name{
    color: #999;
    margin-right: 10px;
}