.positionErrorExp{
    width:100%;
    height:537px;
    margin:20px 0px 20px 0px;
}
.positionWord{
    text-align:center;
    position:relative;
    top:38%;
}
.positionWord p{
    font-size:60px;
}
.choice{
    position:relative;
    top:80px;
    width:50;
    margin-left:65%;
}
.ansButton{
    width:25%;
    height:5%;
    font-size:22px;
    float:left;
    margin-left:17%;
    visibility:hidden;
}
.navButtonContainer{
    width:50%;
    margin-left:25%;
    margin-top:5%;
}
.navButton{
    width:25%;
    height:5%;
    font-size:22px;
    float:left;
    margin-left:17%;
}

.dragZone{
    visibility:hidden;
    border:dashed;
    width:80%;
    margin-left:10%;
    height:100px;
    border-color:#C0CFE2;
    border-width:3px;
    background-color:#E1F5EC;
    color:#556C82;
}
.dragItem{
    margin-left:2.3%;
    width:6%;
    border:solid;
    border-radius:15px;
    border-color:#BBC6D1;
    background:white;

}

.dropDiv{
    margin-top: 3%;
    visibility:hidden;
    /*width:80%;
    margin-left:10%;*/
    height:106px;
    border:dashed;
    border-color:#BBC6D1;
    background-color:#E1F5EC;
    color:#556C82;
    padding-right:0.5%;
}

.dropZone{
    width:100%;
    border:thick solid;
    margin-left:1%;
    border-radius:15px;
    border-color:#BBC6D1;
    color:#556C82;
    background-color:white;
    position:relative;
}
.dropZone:before{
    display:block;
    Content:"";
    padding-top:100%;
}

.dropChar{
   /* width:100px;
    height:100px;*/
    font-size:60px;
    margin-left:-5%;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;

}
.dropChar div{
    display:table;
    width:100%;
    height:100%;
}
.dropZoneBox{
    border:dashed;
    border-color:#C0CFE2;
    background-color:#E1F5EC;
}
