.signalDetectionExp{
    width:100%;
    height:500px;
    margin:20px 0px 20px 0px;
    border:solid;
}
.signalDetectionWord{
    text-align:center;
    position:relative;
    top:38%;
}
.signalDetectionWord p{
    font-size:60px;
}
.yesButton{
    visibility:hidden;
    border:none;
    border-radius:7px;
    background-color:green;
    color:white;
}
.noButton{
    visibility:hidden;
    border:none;
    border-radius:7px;
    background-color:red;
    color:white;
}