.expTitle{
    margin-top:30px;
}
.expMainWindow{
    width:100%;
    height:500px;
    margin:-20px 0px 20px 0px;
}
.expMainWindowFrame{
    width:50%;
    min-height:270px;
    background-color:#EDEDED;
    border-radius:20px;
    margin-left:25%;
    padding-top:2.3%;
    padding-bottom:1%;
}
.expCenterWord{
    text-align:center;
    position:relative;
	top:200px;
	left:32%;
	width:50%;
}
.inst{
	font-size: 60px;
    position:relative;
    width:50%;
    height:50px;
	float:left;
}
.circleEx{
    position:relative;
    border-radius:100%;
    width:8%;
    height:50px;
    top:20px;
    left:55%;
	border-style:solid;
	border-width:3px;
	visibility:hidden;
}

.boxEx{
    position:relative;
    width:50px;
    height:50px;
    top:20px;
    left:55%;
    border-style:solid;
    border-width:3px;
    visibility:hidden;
}

.visualArea{
    position:absolute;
    width:800px;
    height:500px;
    border-style:solid;
    border-width:2px;
	margin-left:16%;
	top:142px;
	left:30px;
	visibility:hidden;
}

.box{
    position:absolute;
    width:30px;
    height:30px;
	border-style:solid;
	border-width:3px;
	background-color:white;
}

.circle{
    position:absolute;
    border-radius:100%;
    width:30px;
    height:30px;
	border-style:solid;
	border-width:3px;
	background-color:white;
}

.modal-lg {
    width:1000px;
}

::-ms-tooltip {
    display: none;
}

.text-red{
    color: #ff0000;
    font-weight: bold;
}

.blink{
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@-webkit-keyframes blink {
    0% {border-color:red}
    50% {border-color:white}
}

@keyframes blink {
    0% {border-color:red}
    50% {border-color:white}
}

.inline-range{
    display:inline !important;
    width:170px !important;
}
.input-range{
    width:70px !important;
}