@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
    <div class="">
          <h3 class="hipTitle"align="center" >Human Information Processing Lab</h3>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>

<!-- Content -->
<div class="answerBox">
    <h5> คำตอบ </h5>
        <form>
          <input type="text" placeholder="คำที่ 1" disabled />
          <input type="text" placeholder="คำที่ 2" disabled />  
          <input type="text" placeholder="คำที่ 3" disabled />
        </form>
</div>
@footer()
