@(user: User)
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
@nav(user)
<!-- Content -->
<div class="procBody">
        <iframe src="@routes.BrownPeterson.procIframe()" class="procContent" frameborder="0" ></iframe>
    <div class="container">
    @if(flash.containsKey("repeat")) {
        <div class="alert alert-danger">@flash.get("repeat")</div>
    }
         <div class="procButtonRed">
             <a href="@routes.BrownPeterson.info()" class="btn btn-block btn-lg btn-danger" ><span class="fui-arrow-left"></span> ย้อนกลับ</a>  &nbsp; 
         </div>
         <div class="procButtonGreen">
             <a href="@routes.BrownPeterson.checkUserTakeRepeatExperiment()" class="btn btn-block btn-lg btn-success" ><span class="fui-play"></span>&nbsp; เริ่มการทดลอง</a>
         </div>
    </div>
</div>
@footer()
