@(trialId : Long, questionNo : Integer)
@header("Human Information Processing Lab :: Home Page")
<!--
<script src="@routes.Assets.at("javascripts/brownPetersonExperiment.js")"></script>
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

</script>
--!>
<body>

<!--FlashTime Container-->
<input class="inputNumberBox" id = "flashTime" name = "flashTime" type="text" disabled hidden />

<!-- Page Header -->
    <div class="">
          <h3 class="hipTitle"align="center" >Human Information Processing Lab</h3>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>
<div class="brownPeterson"></div>
<!-- Content -->

<h1>Question No. @{questionNo + 1}</h1>
<div class="container">
   
  <h3 align="center" id="timeLeft"> &nbsp </h3>  
  <span class="headerBox" id="ansTag">คำตอบ</span>
  <span class="headerNumberBox" id="numberTag">ใส่ตัวเลข</span>
        <form id = "answerForm" action="@routes.BrownPeterson.saveAnswer(trialId,questionNo,false)" method="post">
          <input maxlength="20" id = "firstWord" name = "firstWord" type="text" placeholder="   คำตอบ" autofocus />
          <input maxlength="20"id = "secondWord" name = "secondWord" type="text" placeholder="   คำตอบ" />
          <input maxlength="20" id = "thirdWord" name = "thirdWord" type="text" placeholder="  คำตอบ"  />
          <input maxlength="3" id = "countdownResult" onkeypress='validate(event)'  name = "countdownResult" type="text" placeholder="  เลข" />
          <input  id = "usedTime" name = "usedTime" type="text" value="10.96" hidden/>
          <input type="submit"  id="SubmitButton" value="ยืนยัน" />
        </form>
</div>
@footer()
