@(trial : models.simonEffect.Trial,questionNo : Integer)
@header("Human Information Processing Lab :: Home Page")
<!--
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

</script>
--!>

<script src="@routes.Assets.at("javascripts/simonEffect.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/TDM-demo.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/simonEffect.css")">
<body>

<!-- Page Header -->
<div class="">
    <h3 class="hipTitle"align="center" style="margin-top:30px" >Human Information Processing Lab</h3>
    <!-- Dashed line-->
    <div class="titleLine"></div>
</div>
<div class="expMainWindow">
    <div class="simonCenterWord"  >
        <p id = "word" >&nbsp</p>
        <div class = "simonChar simonUp" id = "up"> O </div>
        <div id = "question" class="simonQuestion">
            <div class = "simonChar simonLeft" id = "left" > O </div>
            <div class = "simonChar simonCenter" id = "center">+</div>
            <div class = "simonChar simonRight" id = "right"> O </div>
        </div>
        <div class = "simonChar simonDown" id = "down" > O </div>
    </div>
    <form id = "answerForm" action="@routes.SimonEffect.reportDemo()" method="post">
        <input id = "answer" name = "answer" type="text" hidden/>
        <input id = "usedTime" name = "usedTime" type="text" hidden/>
        <input id = "isCorrect" name = "isCorrect" type="checkbox" hidden/>
    </form>
    <p id = "question_color" hidden>@trial.quizzes.get(questionNo).question.color</p>
    <p id = "question_alphabet" hidden>@trial.quizzes.get(questionNo).question.alphabet</p>
    <p id = "question_direction" hidden>@trial.quizzes.get(questionNo).question.direction</p>
    <p id = "quiz_position" hidden>@trial.quizzes.get(questionNo).position</p>
    <p id = "trial_blinkTime" hidden>@trial.blinkTime</p>
    <p id = "questionNo" hidden>@questionNo</p>

</div>
@footer()
