@(trial : models.simonEffect.Trial,questionNo : Integer, isPreview:Boolean)
@header("Human Information Processing Lab :: Home Page")
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/TDM-demo.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/simonEffect.css")">
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

function preventBack(){window.history.forward();}
  setTimeout("preventBack()", 0);
  window.onunload=function(){null};

</script>
<body>

<!-- Page Header -->
<div class="">
    <h3 class="hipTitle"align="center" style="margin-top:30px" >Human Information Processing Lab</h3>
    <!-- Dashed line-->
    <div class="titleLine"></div>
</div>
<div class="expMainWindow">
    <div class="simonIntroCenterWord"  >
        <div class="simonIntroDiv">
            <p>เมื่อ <font color="green">O</font> สี<font color="green">เขียว</font>ปรากฏให้กดลูกศร ซ้าย บนคีย์บอร์ด</p>
            <p>เมื่อ <font color="red">X</font> สี<font color="red">แดง</font>ปรากฏให้กดลูกศร ขวา บนคีย์บอร์ด</p>
            <p>&nbsp</p>
            <p>เมื่อท่านพร้อมแล้วกดปุ่ม เริ่มการทดลอง</p>
        </div>
        <img  class = "simonIntroImg" src="@routes.Assets.at("images/simon_one_feature.png")">
        <div class="procButtonGreen simonExpButton">
            <a href="@routes.SimonEffect.doExperiment(trial.id,questionNo,isPreview)" class="btn  btn-success " >เริ่มการทดลอง</a>
        </div>
    </div>

</div>
@footer()
