@header("Human Information Processing Lab :: Home Page")
<!--
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

</script>
--!>
<script src="@routes.Assets.at("javascripts/attentionBlink.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/attention_blink.css")">
<body>

<!-- Page Header -->
    <div class="">
          <h3 class="hipTitle"align="center" >Human Information Processing Lab</h3>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>
<div class="attentionBlinkExp">
    <div class="attentionWord"  >
         <p id="word" >  </p>
    </div>
    <div class="choice" align="center" id="choice" >
         <button type="button" class="btn btn-danger ansButton" id="maiMe"> ไม่มี </button>
         <button type="button" class="btn btn-success ansButton" id="me"> มี  </button>
    </div>
    <div align="center" class="retDiv">
        <a  class="btn btn-info ret" id="ret" href="@routes.AttentionBlink.proc()"> Done </a >
    </div>
</div>
@footer()
