@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Attentional Blink</u></p>
    <ol class="procContentSize">
    <li> ระบบจะกำหนดตัวอักษรหรือตัวเลขให้ 2 ตัว (สมมติว่าเป็นตัวอักษร A และ B) 
                   เพื่อให้ท่านมองหาว่า ตัวอักษรหรือตัวเลขทั้ง 2 ตัวนี้ จะปรากฏขึ้นติดต่อกันหรือไม่ ในชุดตัวอักษรหรือชุดตัวเลขที่ระบบจะ     
                    แสดงทีละตัวจนครบชุด (สมมติว่าชุดตัวอักษรประกอบด้วย A N M P O I Q S ตามลำดับ) </li>
    <li> ระบบจะทำการนับถอยหลัง 3 วินาที เพื่อให้ท่านเตรียมตัวก่อนที่ชุดอักษรหรือชุดตัวเลขจะปรากฏขึ้น</li>
    <li> เมื่อระบบนับถอยหลังถึง 0 แล้ว ระบบจะแสดงตัวอักษรหรือตัวเลขทีละตัวจนครบชุด ด้วยความเร็ว     ประมาณ 1 วินาทีต่อตัวอักษรหรือตัวเลข </li>
    <li>ให้ท่านค้นหาตัวอักษรหรือตัวเลขตามที่กำหนดในข้อ 1. จากชุดตัวอักษรที่ปรากฏ</li>
    <li>ระบบจะแสดงตัวเลือก โดยให้ท่านเลือกว่าท่านมอง เห็น  หรือ  ไม่เห็นตัวอักษรหรือตัวเลขตามที่กำหนดในชุดตัวอักษร หรือชุดตัวเลขนั้น
    </li>
    <br>
    <p align="center"> (ในตัวอย่าง   A และ B ไม่ได้ปรากฏขึ้นติดต่อกัน) </p>
    <p align="center"> หมายเหตุ ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ 
เนื่องจากมีวัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
