</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

<p>Attentional Blink เป็ นการทดลองรูปแบบหนึ่ง เกี่ยวกับความตังใจของมน
ษย์ โดยทาการศึกษาเรื่ องขีดจากัดในการ
ค้ นหาเป
 าหมาย (Target ) มากกว่าหนึ่งเป
 าหมาย ซึ่งปรากฏขึ ้นในเวลาใกล้ เคียงกัน โดยความสามารถในการค้ นหา
เป
 าหมายแรกนันจะม
 สง
 มาก ในขณะที่ความสามารถในการค้ นหาเป
 าหมายซึ่งปรากฏหลังจากนัน
 จะลดลงอย่างเห็นได
ชัด การทดลองนี ้แสดงให้ เห็นว่าความตังใจของมน
ษย์มีขีดจากัด คือเมื่อมนุษย์มีความตังใจก
 บเป
 าหมายหนึ่งแล้ ว
ความตังใจก
 บเป
 าหมายอื่น ๆ จะลดลง</p>

<div >
<p>อ้างอิง</p>

<p style="font-size:12px;">
V. D. Lollo et. al ( 2005) The Attentional Blink: Resource depletion or temporary loss of control?
Psychological Research, 69. pp. 191 - 200.
</p>

</div>

<br>

</body>
</html>
