</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

<p>﻿Attentional Blink เป็นรูปแบบหนึ่งของการทดลองในหมวดความตั้งใจของมนุษย์ โดยศึกษาเรื่องขีดจำกัด ของการค้นหาเป้าหมาย (Target)
 กล่าวคือ กรณีที่มีเป้าหมายมากกว่า 1 เป้าหมาย และปรากฏในระยะ 
เวลาใกล้เคียงกัน ความสามารถในการค้นหาเป้าหมายแรกนั้นจะสูงกว่าความสามารถในการค้นหาเป้าหมาย ที่จะปรากฎตามหลังอย่างเห็นได้ชัดเจน</p>

<div >
<p>อ้างอิง</p>

<p style="font-size:12px;">
V. D. Lollo et. al ( 2005) The Attentional Blink: Resource depletion or temporary loss of control?
Psychological Research, 69. pp. 191 - 200.
</p>

</div>

<br>

</body>
</html>
