@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Attentional Blink</u></p>
    <ol class="procContentSize">
    <li> ระบบจะกาหนดตัวอักษรหรือตัวเลขให้สองตัว (สมมติว่าเป็น A และ B ) สำหรับให้ท่านค้นหาตัวอักษรหรือตัวเลขทั้งสองตัวนั้น
ที่ปรากฏขึ้นถัดต่อจากกัน 
ในชุดอักษรหรือตัวเลขที่ระบบจะแสดง (สมมติว่าชุดตัวอักษรคือ A N M P O I Q S) </li>
    <li> ระบบจะทาการนับถอยหลัง 3 วินาที เพื่อให้ท่านเตรียมตัวก่อนที่ชุดอักษรจะปรากฏ</li>
    <li> เมื่อระบบนับถอยหลังถึง 0 แล้ว ระบบจะแสดงชุดอักษรหรือตัวเลขทีละตัว ด้วยความเร็วต่ำกว่า 1 วินาทีต่อตัวอักษร </li>
    <li>ให้ท่านค้นหาตัวอักษรหรือตัวเลขตามที่กาหนดในข้อ 1 จากชุดอักษรที่ปรากฏ</li>
    <li>ระบบจะแสดงตัวเลือก โดยให้ท่านเลือกว่า มี หรือ ไม่มี ตัวอักษรหรือตัวเลขตามที่กำหนดในชุดอักษรนั้นหรือไม่</li>
    <br>
    <p align="center"> (ในตัวอย่าง คำตอบที่ถูกต้องคือ ไม่มี เนื่องจากไม่มีตัวอักษร A และ B ที่ปรากฏขึ้นถัดต่อจากกัน) </p>
    <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
