@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u>ขั้นตอนการทดลอง Attentional Blink</u></p>
    <ol>
    <li> ระบบจะกาหนดตัวอักษรหรื อตัวเลขให้ สองตัว ให้ ท่านค้ นหาตัวอักษรหรื อตัวเลขทังสองต
วนัน
ที่ปรากฏขึ ้นติดกัน ในชุดอักษรที่ระบบจะแสดง </li>
    <li> ระบบจะทาการนับถอยหลัง 3 วินาที เพื่อให้ ท่านเตรี ยมตัว ก่อนที่ชด
 อักษรจะปรากฏ</li>
    <li> เมื่อระบบนับถอยหลังถึง 0 แล้ ว ระบบจะแสดงชุดอักษรทีละตัว ด้ วยความเร็ วต่ากว่า 1 วินาทีตอ
 ตัว </li>
    <li>ให้ ท่านค้ นหาตัวอักษรหรื อตัวเลขตามที่กาหนดในข้ อ 1 จากชุดอักษรที่ปรากฏ</li>
    <li>ระบบจะแสดงตัวเลือก โดยให้ ท่านเลือกตอบว่า มี หรื อ ไม่มี ตัวอักษรหรื อตัวเลขตามที่กาหนดในชุดอักษรนัน
หรื อไม</li>
    <br>
    <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
