@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u>Brown – Peterson Task</u></p>
    <p>การทดลองนี้จะทดสอบความทรงจำระยะสั้น โดยมีขั้นตอนดังนี้</p>
    <ol>
    <li> โจทย์กำหนดคำมาให้ซึ่งอาจจะมีความหมายหรือไม่ก็ได้ </li>
    <li>  โจทย์จะหายไป </li>
    <li>  มีตัวเลขปรากฏขึ้นมา 1 ตัว  </li>
    <li>  ตัวเลขนั้นจะหายไป  </li>
    <li>  ให้ท่านนับถอยหลังทีละ 3 ทุก ๆ ครั้งที่แฟลชขึ้น  (เช่น 20 , 17 ,14 ,11 , 8) จนกว่าจะมีช่องคำตอบ </li>
    <li>  เมื่อช่องคำตอบปรากฏขึ้นมา 2 ช่อง ให้ท่านตอบทั้งคำในข้างต้น และตัวเลขสุดท้ายที่นับได้ </li>
    </ol>
</div>

</body>
</html>
