@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u>Brown – Peterson Task</u></p>
    <p>การทดลองนี้จะทดสอบความทรงจำระยะสั้น โดยมีขั้นตอนดังนี้</p>
    <ol>
    <li> ให้จำคำสามคำ ตามที่ระบบกำหนดให้ โดยคำจะปรากฎให้เห็นเป็นเวลา 5 วินาที </li>
    <li> เมื่อคำหายไป จะมีตัวเลขปรากฎขึ้นมา ให้จำตัวเลขนี้ไ้ว้</li>
    <li> เมื่อตัวเลขหายไป จะปรากฎกระต่าย </li>
    <li> ให้ลบตัวเลขลงทีละ 3 ทุกครั้งที่กระต่ายกระโดด </li>
        <ul>
            <li><i> เช่น เริ่มจากเลข 95 จะลบได้ 92 89 86 83 เป็นต้น </i></li>
        </ul>
    <li> เมื่อกระต่ายหายไป ให้เติมคำที่จำได้สามคำลงในช่องคำตอบ และผลลัพธ์ที่ได้จากการลบเลขลงในช่องผลลัพธ์ ภายในเวลา 30 วินาที</li>
        <ul>
            <li><i> คำตอบที่ใส่ไม่จำเป็นต้องเรียงลำดับ </i></li>
        </ul>
    <li> กดปุ่ม submit เพื่อทำข้อถัดไป </li>
        <ul>
            <li><i>  หายไม่กด submit ภายใน 30 วินาที ระบบจะข้ามไปข้อถัดไป </i></li>
        </ul>
    <br>
    <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
