@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

<p>﻿Brown-Peterson Task เป็นรูปแบบหนึ่งของการทดลองในหมวดความจำระยะสั้น โดยศึกษาเรื่อง ความสามารถในการจำข้อมูลรูปแบบต่างๆ 
เช่น อักษรไร้ความหมาย คำ ตัวเลข สี รูป โดยมีกระบวนการทางความคิดอื่นๆ เข้ามารบกวน เช่น การคำนวณตัวเลข
</p>

<div >
<p>อ้างอิง</p>

<p style="font-size:12px;">
Peterson, L. R. and Peterson, M. J. (1959). Short-Term Retention of Individual Verbal Items. Journal of Experimental Psychology, 58 (3), pp.193-198.</p>

</div>

<br>

</body>
</html>
