@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

<p>Brown-Peterson Task ศึกษาเรื่องความสามารถในการจำข้อมูลรูปแบบต่าง ๆ เช่น อักษรไร้ความหมาย คำ ตัวเลข สี รูป โดยมีกระบวนการทางความคิดอื่น ๆ เข้ามารบกวน เช่น การคำนวณตัวเลข
</p>

<div >
<p>อ้างอิง</p>

<p>
Peterson, L. R. and Peterson, M. J. (1959). Short-Term Retention of Individual Verbal Items. Journal of Experimental Psychology, 58 (3), pp.193-198.</p>

</div>

<br>

</body>
</html>
