@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Change Blindness</u></p>
    <ol class="procContentSize">
        <li> ระบบจะนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัว </li>
        <li> ระบบจะแสดงโจทย์เป็นภาพที่มีลักษณะคล้ายคลึงกัน 2 ภาพสลับกันไป </li>
        <li> ให้ท่านสังเกตความเปลี่ยนปลงของภาพ 2 ภาพนั้น ในระหว่างนั้นระบบจะแสดงระยะเวลาที่เหลืออยู่ 	สำหรับการสังเกตความเปลี่ยนแปลงนั้น </li>
        <li> เมื่อท่านพบการเปลี่ยนแปลง ให้ท่านกดปุ่มหยุดเวลา จากนั้นให้ท่านคลิกบนภาพตรงจุดที่ท่านเห็นว่า 	มีการเปลี่ยนแปลง</li>
        <p> **กรณีที่หมดเวลา ภาพจะหยุด ท่านจะต้องคลิกบนภาพตรงจุดที่ท่านคิดว่ามีการเปลี่ยนแปลง** </p>
        <p align="center"> ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ 
เนื่องจากมีวัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
