@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

    <p> ﻿Change Blindness เป็นรูปแบบหนึ่งของการทดลองในหมวดการรับรู้ (Perception) 
โดยศึกษาเรื่อง ความสามารถในการจำแนกและระบุถึงความเปลี่ยนแปลงที่เกิดขึ้นในสภาพแวดล้อม 
โดยทั่วไปแล้ว มนุษย์จะไม่สามารถรับรู้หรือระบุถึงความเปลี่ยนแปลงที่เกิดได้แม่นยำนัก เนื่องจากมนุษย์ไม่สามารถจดจำ รายละเอียดทั้งหมดของสิ่งแวดล้อมได้ 
การศึกษาเรื่อง Change Blindness มีความสำคัญต่อเรื่องต่างๆ ที่อาศัยความสามารถในการจดจำรายละเอียดของสิ่งแวดล้อม และการตอบสนองต่อความเปลี่ยนแปลงที่เกิดขึ้น 
เช่น การขับขี่ยานพาหนะ การตรวจจับหน้าจอแสดงผลการเตือนภัย รวมถึงการให้ข้อมูลของพยาน รู้เห็นเหตุการณ์ในคดีอาชญากรรม เป็นต้น</p>

    <div >
        <p>อ้างอิง</p>

        <p style="font-size:12px;">
            Simons, D. J. and Ambinder, M. S. (2005). Change Blindness: Theory and Consequences. Current Directions in Psychological Science, vol. 14 (1), pp. 44-48.
            Davies, G. and Hine, S. (2007). Change Blindness and Eyewitness Testimony. The Journal of Psychology, vol. 141(4), pp. 423-434.
            Galpin et. al (2008). Change Blindness in Driving Scenes. Transportation Research, pp. 179 - 185.</p>
    </div>

    <br>

</body>
</html>
