@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u>Change Blindness</u></p>
    <ol>
        <li> ให้ท่านสังเกตความเปลี่ยนแปลงที่ปรากฏขึ้นในภาพ 2 ภาพที่ปรากฏสลับกัน</li>
        <li> โดยระบบจะกำหนดระยะเวลา  ที่ท่านสามารถทำการสังเกตความเปลี่ยนแปลงนั้นได้ </li>
        <li> เพื่อตอบคำถาม ท่านสามารถกดปุ่มหยุดภาพ ก่อนเวลาในการตอบคำถามจะหมด</li>
        <li> เมื่อหยุดภาพหรือหมดเวลาแล้ว ให้ท่านคลิกบนภาพ  ตรงจุดที่ท่านเห็นว่า มีการเปลี่ยนแปลงเกิดขึ้น</li>

        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
