<html>
<head>
<meta http-equiv="Content-Language" content="th" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="content-Type" content="text/html; charset=window-874"> 
<meta http-equiv="content-Type" content="text/html; charset=tis-620"> 
<!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\demo.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\docs.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\flat-ui.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\scrollbar.css">
<!-- Title -->    
<title>Human Information Processing Lab :: Login</title>

</head>

<body>

<!-- Page Header -->
<div style="background-color:#ECF0F1; font-family:Tahoma, 'Microsoft Sans Serif', AngsanaUPC, CordiaUPC" >

<br>
<p>Brown-Peterson Task ศึกษาเรื่องความสามารถในการจำข้อมูลรูปแบบต่าง ๆ เช่น อักษรไร้ความหมาย คำ ตัวเลข สี รูป โดยมีกระบวนการทางความคิดอื่น ๆ เข้ามารบกวน เช่น การคำนวณตัวเลข
</p>

<br><br>
<div style="font-size:15px">
<p>อ้างอิง</p>

<ul>
Peterson, L. R. and Peterson, M. J. (1959). Short-Term Retention of Individual Verbal Items. Journal of Experimental Psychology, 58 (3), pp.193-198.</ul>


</div>

<br>







</body>
</html>