</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

<p>Garner Interference เป็นการศึกษาหนึ่งในหมวดการรับรู้ (Perception) โดยศึกษาเรื่องการประมวลลักษณะ การจำแนก รวมถึงเวลาและความแม่นยำในการตอบสนองต่อสิ่งเร้าทางสายตา (Visual Stimulus) ซึ่งมีลักษณะในมิติต่าง ๆ เช่น ขนาด สี ความเข้มของสี ทิศทาง รูปร่าง กล่าวคือเมื่อสิ่งเร้ามีลักษณะมากกว่าหนึ่งมิติ เวลาและความแม่นยำในการตอบสนองต่อสิ่งเร้านั้น ๆ จะเพิ่มขึ้น เนื่องจากการรับรู้ของมนุษย์นั้น เป็นการรับรู้แบบองค์รวม (Holistic) จึงยากที่จะจำแนกสิ่งเร้าทางสายตาที่มีลักษณะมากกว่าหนึ่งมิติ</p>
<div >
<p>อ้างอิง</p>

<p style="font-size:12px;">
Ganel, T. and Gooddale, M. A. (2014) Variability-based Garner Interference for Perceptual Estimations but not for Grasping. Experimental Brain Research.
</p>
</div>
<br>
</body>
</html>
