@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Garner Interference</u></p>
    <ol class="procContentSize">
    <li> ระบบจะแสดงรูปมา 4 รูป ซึ่งมีขนาดและสีต่างกัน ให้ท่านมองเปรียบเทียบและจำลักษณะของรูปทั้ง 4 ไว้</li>
    <li> เมื่อท่านจำได้แล้ว ให้ท่านกดปุ่ม เริ่มการทดลอง</li>
    <li> ระบบจะทำการนับถอยหลัง 3 วินาทีเพื่อให้ท่านเตรียมตัวก่อนโจทย์จะปรากฏ</li>
    <li>ระบบจะสุ่มเลือกรูปจาก 4 รูปนั้นมา โดยจะปรากฏด้วยความรวดเร็ว</li>
    <li>จากนั้นโจทย์จะถามถึงลักษณะขนาดและสีของรูปที่ปรากฏนั้น เป็นต้นว่า ใช่รูปสีเข้ม ขนาดเล็กหรือไม่<br> ดังนั้นท่านจะต้องทำการเปรียบเทียบทั้งขนาดและสีของรูปทั้ง 4 รูปที่ท่านจำไว้</li>
    <li>กดปุ่มตอบคำถามโจทย์ว่า ใช่ หรือ ไม่ใช่</li>
    <br>
    <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
