<html>
<head>
<meta http-equiv="Content-Language" content="th" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="content-Type" content="text/html; charset=window-874"> 
<meta http-equiv="content-Type" content="text/html; charset=tis-620"> 
<!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\demo.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\docs.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\flat-ui.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\scrollbar.css">
<!-- Title -->    
<title>Human Information Processing Lab :: Login</title>

</head>

<body>

<!-- Page Header -->
<div style="background-color:#ECF0F1; font-family:Tahoma, 'Microsoft Sans Serif', AngsanaUPC, CordiaUPC" >

<br>
<p>Garner Interference ศึกษาเรื่องความสามารถในการประมวลลักษณะ Visual Stimulus เพียงหนึ่งมิติ เช่น ขนาด สี ความเข้มของสี ทิศทาง รูปร่าง 
โดยมีการรบกวนจากลักษณะในมิติอื่น ๆ ทั้งนี้เมื่อมีการรบกวนจากลักษณะทางมิติเพิ่มขึ้น จะส่งผลต่อเวลาและความแม่นยำในการตอบสนอง
</p>

<br><br>
<div style="font-size:15px">
<p>อ้างอิง</p>

<ul>
Ganel, T., Goshen-Gottstein, Y., and Goodale, M. A. (2005). Interaction between the Processing of Gaze Direction and Facial Expression. Vision Research, 45, pp. 1191 - 1200.</ul>

<ul>Graham, R. and LaBar, K. S. (2007). Garner Interference Reveals Dependencies between Emotional Expression and Gaze in Face Perception. Emotion, 7 (2), pp. 296 - 313.</ul>

</div>

<br>







</body>
</html>