@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Magic Number 7</u></p>
    <ol class="procContentSize">
        <li> ระบบจะนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัว</li>
        <li> ระบบจะแสดงโจทย์เป็นชุดตัวอักษรหรือตัวเลขขึ้นมาพร้อมกันทีเดียว เข่น A s P O a Q</li>
        <li> ให้ท่านจำตัวอักษรหรือตัวเลขเหล่านี้ตามลำดับที่ถูกต้อง </li>
	<li> เมื่อโจทย์ (ข้อ 2.) หายไป จะปรากฏช่องคำตอบขึ้นมา ให้ท่านกรอกชุดอักษรตามที่ท่านจำได้ โดยเรียงลำดับให้ถูกต้องตามโจทย์  </li>
        <p> **กรณีที่เป็นโจทย์ภาษาอังกฤษจะมีทั้งตัวพิมพ์เล็กและตัวพิมพ์ใหญ่  ดังนั้นท่านจะตอบเป็นตัวพิมพ์เล็กหรือตัวพิมพ์ใหญ่ให้ตรงตามโจทย์**</p>
        <li> เมื่อกรอกเสร็จแล้ว ให้ท่านกดปุ่มยืนยัน เพื่อส่งคำตอบและไปโจทย์ข้อถัดไป</li>
        <br>
        <p align="center"> ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ 
เนื่องจากมีวัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
