</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

    <p>
        ﻿Magic Number 7 Plus or Minus 2 เป็นรูปแบบหนึ่งของการทดลองในหมวดความจำระยะสั้น 
โดยศึกษา เรื่องขีดจำกัดของความสามารถเกี่ยวกับความจำระยะสั้น กล่าวคือ โดยปกติความจำระยะสั้นจะสามารถ เก็บข้อมูลได้ 7 หน่วย 
โดยไม่คำนึงว่าข้อมูลเหล่านั้นจะมีความสัมพันธ์กันหรือไม่ ขีดจำกัดของความจำจะมี ตั้งแต่ 5 หน่วย (7-2) ไปจนถึง 9 หน่วย (7+2) ขึ้นอยู่กับประเภทของข้อมูล  
และขีดจำกัดของ ความจำจะเพิ่มมากขึ้น ถ้าข้อมูลเหล่านั้นมีความสัมพันธ์กัน เช่น เป็นคำประเภทเดียวกัน หรือมี การจัดข้อมูลเป็นกลุ่ม
    </p>

    <div >
        <p>อ้างอิง</p>

        <p style="font-size:12px;">
            อุบลวรรณา ภวกานันท์ (2556) จิตวิทยาการรู้ คิด และปัญญา. สำนักพิมพ์มหาวิทยาลัยธรรมศาสตร์, ปทุมธานี.
        </p>

    </div>

    <br>

</body>
</html>
