@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Magic Number 7</u></p>
    <ol class="procContentSize">
        <li> ระบบจะนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัวก่อนโจทย์จะปรากฏ</li>
        <li> ระบบจะแสดงชุดตัวอักษรหรือตัวเลขขึ้นมา(เข่น A S P O A Q) โดยจะปรากฏพร้อมกันทุกตัว ให้ท่านจำตัวอักษรหรือตัวเลขเหล่านี้ไว้ รวมถึงลำดับของมัน</li>
        <li> เมื่อโจทย์หายไป จะปรากฏช่องคำตอบขึ้นมา ให้ท่านกรอกชุดอักษรตามที่ท่านจำได้   โดยเรียงลำดับให้เหมือนกับชุดอักษรที่ปรากฏในขั้นตอนก่อนหน้า</li>
        <p> (**กรณีที่เป็นโจทย์ภาษาอังกฤษ  ตัวพิมพ์เล็ก ตัวพิมพ์ใหญ่มีผลต่อคำตอบและการคิดคะแนน**)</p>
        <li> เมื่อกรอกเสร็จแล้ว ให้ท่านกดปุ่มยืนยัน เพื่อส่งคำตอบและไปยังข้อถัดไป</li>
        <br>
        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
