</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

<p>
﻿Muller-Lyer Illusion เป็นรูปแบบหนึ่งของการทดลองในหมวดการรับรู้ (Perception) 
โดยการศึกษา Muller-Lyer ได้นำเสนอครั้งแรกเมื่อปี ค.ศ. 1889 ซึ่งนับได้ว่าเป็นการศึกษาที่เก่าแก่ และยังคงมี การศึกษาเรื่องนี้เพิ่มเติมอย่างต่อเนื่อง 
Muller-Lyer ศึกษาการแปลผลข้อมูลที่เกิดการรับรู้บิดเบือน หรือที่ เรียกว่าการลวง (Illusion) การลวงสายตามีหลายรูปแบบ 
แต่การทดลองของ Muller-Lyer นั้นใช้ การลวงสายตาด้วยหลักเรขาคณิต (Geometrical Optical Illusion) โดยมีลักษณะเป็นเส้นตรงประกอบ กับลูกศร

</p>


<div >
<p>อ้างอิง</p>

<p style="font-size:12px;">
Qiu et. al (2007). The Muller-Lyer Illusion Seen by the Brain: An Event-Related Brain Potential Study. Biological Psychology, vol.77, pp. 150-158. อุบลวรรณา ภวกานันท์ (2556) จิตวิทยาการรู้ คิด และปัญญา. สำนักพิมพ์มหาวิทยาลัยธรรมศาสตร์.
</p>

</div>

<br>

</body>
</html>
