@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u style="font-size:150%">ขั้นตอนการทดลอง Muller-Lyer Illusion</u></p>
    <ol>
    <li style="font-size:150%">ระบบกำหนดระยะเวลาให้ท่านทำโจทย์ 10 วินาที</li>
    <li style="font-size:150%">ระบบจะทำการนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัวก่อนที่โจทย์จะปรากฏ</li>
    <li style="font-size:150%">โจทย์จะปรากฏเป็นรูปลูกศรหรือเส้นตรง จำนวน 3 - 5 เส้น</li>
    <li style="font-size:150%">ให้ท่านกดเลือกตอบว่าลูกศรหรือเส้นตรงเส้นใดมีความยาวแตกต่างจากเส้นอื่น 
     โดยการคลิกปุ่ม "เลือก" ที่อยู่ด้านซ้ายมือของเส้นนั้น ๆ</li>
    <br>
    <br>
    <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
