@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u style="font-size:150%">ขั้นตอนการทดลอง Muller-Lyer Illusion</u></p>
    <ol>
    <li style="font-size:150%">ระบบจะทำการนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัว</li>
    <li style="font-size:150%">ระบบแสดงระยะเวลาให้ท่านทำโจทย์</li>
    <li style="font-size:150%">โจทย์จะปรากฏเป็นรูปลูกศรหรือเส้นตรง จำนวน 3 - 5 เส้น</li>
    <li style="font-size:150%">ให้ท่านกดเลือกตอบว่า ลูกศรหรือเส้นตรงเส้นใดมีความยาวแตกต่างจากเส้นอื่น โดยการคลิกปุ่ม "เลือก" ที่อยู่ด้านขวามือของเส้นนั้น ๆ</li>
    <br>
    <br>
    <p align="center"> ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ 
เนื่องจากมีวัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
