</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

    <p>Position Error เป็นการศึกษาเรื่องความทรงจำระยะสั้น
       ในกรณีที่ตำแหน่งของข้อมูลในชุดข้อมูลที่ต้องจำนั้น มีความสำคัญ (เช่น เบอร์โทรศัพท์ รหัสประจำตัว)
       โดยทั่วไป หากสามารถระลึกถึงข้อมูลในช่วงใดช่วงหนึ่งได้ การระลึกถึงข้อมูลในช่วงอื่น ๆ จะลดลง
       เช่น หากระลึกถึงข้อมูลในช่วงต้นได้ การระลึกถึงข้อมูลในช่วงกลาง หรือช่วงท้ายจะลดลง</p>
    <div >
        <p>อ้างอิง</p>

        <p style="font-size:12px;">
            McLeod, S. A. (2008). Serial Position Effect.
            Retrieved from http://www.simplypsychology.org/primacy-recency.html
        </p>

    </div>

    <br>

</body>
</html>
