@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Position Error</u></p>
    <ol class="procContentSize">
        <li> ระบบจะนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัว </li>
        <li> ระบบจะแสดงโจทย์ ซึ่งเป็นตัวอักษรหรือตัวเลข โดยมีจำนวนตั้งแต่ 3 - 12 ตัว และจะแสดงขึ้นมาทีละ  1 ตัวให้ท่านจำตัวอักษรหรือตัวเลขเหล่านี้ตามลำดับที่ปรากฎ </li>
        <li> เมื่อโจทย์หายไป ระบบจะแสดงตัวอักษรชุดเดียวกับโจทย์พร้อมกันขึ้นมา แต่เรียงลำดับสลับตำแหน่งกัน </li>
        <li>ให้ท่านจัดเรียงตัวอักษรเหล่านั้น ตามลำดับที่ท่านจำไว้ โดยท่านสามารถ Drag and Drop ตัวอักษรจากแถวบน มายังแถวล่างเพื่อจัดเรียงลำดับ</li>
        <li>เมื่อท่านจัดเรียงลำดับเสร็จแล้ว ให้ท่านกดปุ่ม “ยืนยัน” เพื่อส่งคำตอบและไปโจทย์ข้อถัดไป</li>
        <br>
        <p align="center"> หมายเหตุ ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ 
เนื่องจากมีวัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
