@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Position Error</u></p>
    <ol class="procContentSize">
        <li> ระบบจะทำการนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัวก่อนที่โจทย์จะปรากฏระบบจะแสดง </li>
        <li> ระบบจะแสดงโจทย์ ซึ่งเป็นตัวอักษรหรือตัวเลข มีจำนวนตั้งแต่ 3 - 12 ตัว
            โดยจะแสดงขึ้นมาทีละ 1 ตัว ให้ท่านจำตัวอักษรหรือตัวเลขเหล่านี้ไว้</li>
        <li> เมื่อโจทย์หายไป ระบบจะแสดงตัวอักษรโจทย์ขึ้นมาอีกครั้ง แต่เรียงลำดับสลับตำแหน่งกัน </li>
        <li> ให้ท่านจัดเรียงตัวอักษรเหล่านั้น ตามลำดับที่ท่านจำไว้
            โดยท่านสามารถ Drag and Drop ตัวอักษรจากแถวบน  มายังแถวล่างเพื่อจัดเรียงลำดับ</li>
        <li>เมื่อท่านจัดเรียงลำดับเสร็จแล้ว ให้ท่านกดปุ่มยืนยันเพื่อส่งคำตอบและไปยังข้อถัดไป</li>
        <br>
        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
