<html>
<head>
<meta http-equiv="Content-Language" content="th" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="content-Type" content="text/html; charset=window-874"> 
<meta http-equiv="content-Type" content="text/html; charset=tis-620"> 
<!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\demo.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\docs.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\flat-ui.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\scrollbar.css">
<!-- Title -->    
<title>Human Information Processing Lab :: Login</title>

</head>

<body>

<!-- Page Header -->
<div style="background-color:#ECF0F1; font-family:Tahoma, 'Microsoft Sans Serif', AngsanaUPC, CordiaUPC" >

<br>
<p>Signal Detection ทำการศึกษาเรื่องความสามารถในการตรวจจับรูปแบบ (Signal) ซึ่งปะปนอยู่ในสารสนเทศ 
รวมไปถึงการระบุว่า ในสารสนเทศที่รับรู้นั้น มี Signal ปนอยู่หรือไม่</p>
<p>การศึกษาเรื่อง Signal Detection นั้น มีความสำคัญต่อศาสตร์อื่น ๆ ที่ต้องอาศัยการตรวจจับรูปแบบแปลกปลอมต่าง ๆ เช่น
รังสีวิทยา  ระบบเรดาร์  และการตรวจหาสาเหตุต่าง ๆ  
</p>

<br><br>
<div style="font-size:15px">
<p>อ้างอิง</p>

<ul>
Heeger, D. (1997). Signal Detection.
Available online at http://www.cns.nyu.edu/~david/handouts/sdt-advanced.pdf</ul>

<ul>LU, Z. and Eskew R. T. Jr. (2007). A Special Issue on Applications of Signal Detection Theory to Visual Perception. 
Spatial Vision, 20 (1-2). Available on at http://lobes.osu.edu/Journals/SptVis07.pdf</ul>

<ul>Bohil, C.J., Szalma, J.L., & Hancock, P.A. (in press).  
Psychophysical methods and signal detection: Recent advances in theory. In: R.R. Hoffman, P.A. Hancock, M.W. Scerbo, J.L. Szalma, and R. Parasuraman (Eds.),
 The Cambridge handbook of applied perception.  Cambridge: Cambridge University Press.</ul>
</div>

<br>







</body>
</html>