@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Signal Detection</u></p>
    <ol class="procContentSize">
        <li>ระบบจะกำหนดเป้าหมายให้ท่าน โดยจะกำหนดเป็นตัวอักษรหรือตัวเลข
            (สมมติว่าเป็น Y) </li>
        <li>ระบบจะทำการนับถอยหลังตั้งแต่ 3 ถึง 0 เพื่อให้ท่านเตรียมตัวก่อนที่โจทย์จะปรากฏ</li>
        <li>ระบบจะแสดงโจทย์ขึ้นมา โดยมีลักษณะเป็นตัวอักษรที่เรียงต่อกัน
            เช่น  XXXXYXXXYXXXXXXXXYYXXX
            ในตัวอักษรที่เรียงต่อกันนี้ ให้ท่านมองหาว่ามีเป้าหมายตามที่กำหนดในข้อ 1 หรือไม่
            (จากตัวอย่างคือ มี Y อยู่หรือไม่)</li>
        <li>ระบบจะแสดงปุ่มให้ท่านกดเลือกว่า <b>มี หรือ ไม่มี </b>เป้าหมายตามที่กำหนดหรือไม่</li>
        <br>
        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
