@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Signal Detection</u></p>
    <ol class="procContentSize">
        <li>ระบบจะกำหนดเป้าหมายให้ท่าน โดยอาจจะกำหนดเป็นตัวอักษรหรือตัวเลข เช่น กำหนดให้เป็นตัวอักษร Y </li>
        <li>ระบบจะทำการนับถอยหลังตั้งแต่ 3 ถึง 0 เพื่อให้ท่านเตรียมตัว</li>
        <li>ระบบจะแสดงโจทย์ขึ้นมา และจะหายไปภายในระยะเวลาไม่เกิน 1 วินาที โดยโจทย์จะมีลักษณะเป็น    
                    ชุดตัวอักษรหรือชุดตัวเลขที่เรียงต่อกัน เช่น XXXXYXXXYXXXXXXXXYYXXX ในชุดตัวอักษรที่เรียงต่อกันนี้ 
                     ให้ท่านมองหาว่า มีเป้าหมายตามที่กำหนดในข้อ 1. หรือไม่ กล่าวคือ  มีตัวอักษร Y อยู่ในชุดตัวอักษรตัวอย่างหรือไม่</li>
        <li>ระบบจะแสดงปุ่มให้ท่านกดเลือกว่า มี หรือ ไม่มี เป้าหมายตามที่กำหนดไว้หรือไม่</li>
        <br>
        <p align="center"> หมายเหตุ ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ 
เนื่องจากมีวัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ
 </p>
    </ol>
</div>

</body>
</html>
