</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

    <p>Signal Detection  เป็นการทดลองในด้านการรับรู้ โดยศึกษาการจำแนกสัญญาณ (Signal) ออกจากตัวรบกวน (noise)
        โดยที่สัญญาณดังกล่าวจะปรากฏไม่เด่นชัด ดังนั้นจึงส่งผลต่อการตัดสินใจว่า ในสิ่งรบกวนนั้น มีสัญญาณปรากฏหรือไม่
        มีการนำการศึกษา Signal Detection ไปใช้งานหลายประเภท เช่น การตรวจจับวัตถุโดยเรดาห์ การวินิจฉัยโรค การวิเคราะห์แผ่นดินไหว</p>

    <div >
        <p>อ้างอิง</p>

        <p style="font-size:12px;">
            Wickens, T. D. (2002). Elementary Signal Detection Theory. Oxford University Press.
        </p>

    </div>

    <br>

</body>
</html>
