</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

    <p>Simon Effect เป็นการศึกษาหนึ่งในหมวดความตั้งใจ (Attention)
        โดยศึกษาเรื่องความสอดคล้องกันระหว่างทิศทางการตอบสนองและทิศทางที่สิ่งเร้าปรากฏ (Spatial Correspondence)
        กล่าวคือ เมื่อสิ่งเร้าปรากฏไปในทางเดียวกันกับการตอบสนอง ความแม่นยำในการตอบสนองจะมีสูงและใช้เวลาในการตอบสนองน้อย
        ในทางกลับกัน เมื่อสิ่งเร้าปรากฏไปในทิศทางที่ไม่สอดคล้องกับการตอบสนอง ความแม่นยำในการตอบสนองจะลดลงและใช้เวลาในการตอบสนองนานขึ้น</p>

    <div >
        <p>อ้างอิง</p>

        <p style="font-size:12px;">
            Simon R. and Berbaum K. (1989). Effect of Conflicting Cues on Information Processing: The Stroop Effect vs. The Simon Effect. Acta Psychologica, Vol. 73 (2), pp. 159-170.
        </p>

    </div>

    <br>

</body>
</html>
