@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Simon Effect</u></p>
    <ol class="procContentSize">
        <li>โจทย์จะปรากฏเป็นรูปทรง 4 ลักษณะ คือ วงกลมสีเขียว วงกลมสีแดง กากบาทสีเขียว และ กากบาท    สีแดง</li>
        <li>เมื่อรูปโจทย์ปรากฏบนจอแสดงผล ให้ท่านกดปุ่มลูกศรบนคีย์บอร์ด ให้สอดคล้องกับรูปที่ปรากฏ ดัง    แผนภาพในด้านล่าง</li>

        <img  style="margin:5% 0% 5% 0%" src="@routes.Assets.at("images/simon_key.png")">
        <span align="center" class="procPosError">เมื่อวงกลมสีเขียว ปรากฏ ให้ท่านกดลูกศรซ้าย<br>
        เมื่อวงกลมสีแดง ปรากฏ ให้ท่านกดลูกศรบน<br>
        เมื่อกากบาทสีเขียว ปรากฏ ให้ท่านกดลูกศรล่าง<br>
        เมื่อวงกลมสีขวา ปรากฏ ให้ท่านกดลูกศรขวา</span><br>
        <br>
        <p align="center"> หมายเหตุ ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ
 เนื่องจากมี วัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
