@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u>Simon Effect</u></p>
    <ol>
        <li>โจทย์จะปรากฏเป็นรูป ซึ่งมีอยู่ด้วย  4 ลักษณะ คือ วงกลมสีเขียว วงกลมสีแดง กากบาทสีเขียว และกากบาทสีแดง</li>
        <li>เมื่อรูปโจทย์ปรากฏบนจอแสดงผล ให้ท่านกดปุ่มลูกศรบนคีย์บอร์ด ให้สอดคล้องกับรูปที่ปรากฏ  ดังแผนภาพในด้านล่าง</li>

        <img  style="margin:5% 0% 5% 35%" src="@routes.Assets.at("images/simon_key.png")">
        <p align="center">คือ เมื่อวงกลมสีเขียว ปรากฏ ให้ท่านกดลูกศรซ้าย</p>
        <p align="center">เมื่อวงกลมสีแดง ปรากฏ ให้ท่านกดลูกศรบน</p>
        <p align="center">เมื่อกากบาทสีเขียว ปรากฏ ให้ท่านกดลูกศรล่าง</p>
        <p align="center">เมื่อวงกลมสีขวา ปรากฏ ให้ท่านกดลูกศรขวา</p>
        <br>
        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
