@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Sternberg Search</u></p>
    <ol class="procContentSize">
        <li> ระบบจะนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัวก่อนที่โจทย์จะปรากฏ</li>
        <li> ระบบจะแสดงชุดโจทย์ตัวอักษรหรือตัวเลข ทีละ 1 ตัว จำนวน 1 - 6 ตัว (สมมติไห้เป็น A B R T Y O) <br>ให้ท่านจำตัวอักษรหรือตัวเลขเหล่านี้ไว้</li>
        <li> ระบบจะสุ่มแสดงตัวอักษรหรือตัวเลขขึ้นมาหนึ่งตัว (สมมติให้เป็น P)</li>
        <li> ให้ท่านเลือกว่า <b>มี หรือ ไม่มี</b> ตัวอัษรหรือตัวเลข อยู่ในชุดอักษรขั้นต้น</li>
	<p> (จากตัวอย่าง คำตอบที่ถูกต้องคือ ไม่มี กล่าวคือ ไม่มี P อยู่ใน  A B R T Y O ) </p>
        <br>
        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
