@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Sternberg Search</u></p>
    <ol class="procContentSize">
        <li> ระบบจะนับถอยหลังจาก 3 ถึง 0 เพื่อให้ท่านเตรียมตัวก่อนที่โจทย์จะปรากฏ</li>
        <li> ระบบจะแสดงชุดโจทย์ตัวอักษรหรือตัวเลข ทีละ 1 ตัว จำนวน 1 - 6 ตัว  ให้ท่านจำตัวอักษรหรือตัวเลขเหล่านี้ไว้</li>
        <li> ระบบจะแสดงตัวอักษรหรือตัวเลขขึ้นมาหนึ่งตัว </li>
        <li> ให้ท่านตอบว่าตัวอักษรหรือตัวเลขนั้น อยู่ในชุดโจทย์ตัวอักษรในขั้นต้นหรือไม่</li>
        <br>
        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
