</body>
</html>
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

    <p>Sternberg Search เป็นการทดลองเรื่องการเรียกใช้ข้อมูลจากระบบความจำ
        โดยเปรียบเทียบระยะเวลาที่ใช้เรียกใช้ข้อมูลจากชุดความทรงจำระยะสั้น (Memory Set)
        ที่มีขนาด (Memory Set Size) และจำนวนข้อมูลที่ต้องเรียกใช้ (Test Digits) แตกต่างกัน เพื่อให้ทราบว่า
        การค้นหาข้อมูลจากความทรงจำระยะสั้นของมนุษย์นั้น เป็นแบบทีละลำดับ (Sequential)  หรือแบบคู่ขนาน (Parallel)
        และการค้นหานั้นจะหยุดลงเมื่อพบข้อมูลนั้นแล้ว (Self-Terminating Search) หรือว่าต้องค้นหาจนสิ้นสุดชุดความทรงจำ (Exhaustive Search)</p>

    <div >
        <p>อ้างอิง</p>

        <p style="font-size:12px;">
            Ropar D. (n.d.) Sternbergs Study of Short-Term Memory Storage. School of Psychology, University of Notthingham.
        </p>

    </div>

    <br>

</body>
</html>
