<html>
<head>
<meta http-equiv="Content-Language" content="th" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="content-Type" content="text/html; charset=window-874"> 
<meta http-equiv="content-Type" content="text/html; charset=tis-620"> 
<!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\demo.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\docs.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\flat-ui.css">
 	<link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\scrollbar.css">
<!-- Title -->    
<title>Human Information Processing Lab :: Login</title>

</head>

<body>

<!-- Page Header -->
<div style="background-color:#ECF0F1; font-family:Tahoma, 'Microsoft Sans Serif', AngsanaUPC, CordiaUPC" >

<br>
<p>Stroop Effect ศึกษาเรื่องการระบุสีและการอ่านคำ โดยศึกษาความแตกต่างระหว่างความสอดคล้องและความไม่สอดคล้องกันระหว่างชื่อของสีกับคำที่อ่าน 
ที่มีต่อความถูกต้องและเวลาที่ใช้ในการระบุสี
</p>

<br><br>
<div style="font-size:15px">
<p>อ้างอิง</p>

<ul>
MacLeod, C. M. (1991). Half a Century of Research on the Stroop Effect: An Integrative Review. Psychological Bulletin, 109 (2), pp. 163-203.</ul>


</div>

<br>







</body>
</html>