@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u> Stroop Effect</u></p>
    <p>การทดลองนี้จะทดสอบการระบุสีของคำ (ink color) ในเวลาที่จำกัด โดยมีขั้นตอนดังนี้</p>
    <ol>
        <li>ระบบจะแสดงคำที่เป็นชื่อสีขึ้นมา (เช่น แดง เหลือง น้ำเงิน)</li>
        <li>ชื่อสีที่ปรากฏนั้นจะหายไป</li>
        <li>จะมีปุ่มสีปรากฏขึ้นมา 6 ปุ่ม</li>
        <li>ให้ท่านกดตอบปุ่มที่มีสีหมึกของคำในตอนแรก</li>
        
        <h6 align="center" >ตัวอย่าง </h6>
        <h6 align="center" style="color:#1188FF; font-size:6 "> แดง</h6>
        <h6 align="center" >√ น้ำเงิน      แดง</h6>
        <h6 align="center" >คำตอบที่ถูกต้องคือ น้ำเงิน</h6>
    <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
