@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Stroop Effect</u></p>

    <ol class="procContentSize">
        <li>ระบบจะแสดงคำที่เป็นชื่อสีขึ้นมา เช่น ดำ แดง น้ำเงิน Black Red Blue ประมาณ 1 วินาที</li>
        <li>เมื่อชื่อสี ตามข้อ 1. หายไป จะมีปุ่มสีปรากฏขึ้นมา 6 ปุ่ม</li>
        <li>ให้ท่านเลือกตอบโดยกดปุ่มสีที่ตรงกับสีของคำ</li>
        
        <h6 align="center" >ตัวอย่าง </h6>
        <h6 align="center" style="color:#1188FF; font-size:6 "> แดง</h6>
        <h6 align="center" >☑ น้ำเงิน &nbsp;&nbsp;&nbsp; 	แดง</h6>
        <h6 align="center" >หมายเหตุ    ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ 
เนื่องจากมีวัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
