@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u>Brown – Peterson Task</u></p>
    <p>การทดลองนี้จะทดสอบการระบุสีของคำ (ink color) ในเวลาที่จำกัด โดยมีขั้นตอนดังนี้</p>
    <ol>
        <li>ระบบจะแสดงคำที่เป็นชื่อสีขึ้นมา (เช่น แดง เหลือง น้ำเงิน)</li>
        <li>ชื่อสีที่ปรากฏนั้นจะหายไป</li>
        <li>จะมีปุ่มสีปรากฏขึ้นมา 6 ปุ่ม</li>
        <li>ให้ท่านกดตอบปุ่มที่มีสีหมึกของคำในตอนแรก</li>
        ตัวอย่าง
        <p style="color:#1188FF; font-size:6 "> แดง</p>
        <p>√ น้ำเงิน      แดง</p>
        <p>คำตอบที่ถูกต้องคือ น้ำเงิน</p>
    </ol>
</div>

</body>
</html>
