@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

<p>
﻿Stroop Effect เป็นรูปแบบหนึ่งของการทดลองในหมวดความตั้งใจของมนุษย์ โดยศึกษาเรื่อง ความสอดคล้องกันระหว่างสีกับคำ 
กล่าวคือ ถ้าคำกับสีนั้นสอดคล้องกัน จะมีความแม่นยำในการระบุสีสูง และใช้เวลาน้อย
 แต่ถ้าคำและสีไม่สอดคล้องกัน ความแม่นยำในการระบุสีจะลดลง และใช้เวลามากกว่า
</p>

<div >
<p>อ้างอิง</p>

<p style="font-size:12px;">
MacLeod, C. M. (1991). Half a Century of Research on the Stroop Effect: An Integrative Review. Psychological Bulletin, 109 (2), pp. 163-203.</ul>
</p>
</div>

<br>

</body>
</html>
