@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Visual Search</u></p>
    <ol class="procContentSize">
        <li>โจทย์จะปรากฏเป็นรูปเลขาคณิตซึ่งมีลักษณะรูปร่าง  สี และจำนวนแตกต่างกัน</li>
        <li>ให้ท่านมองหาและคลิก   "วงกลมสีฟ้า"    ซึ่งปรากฏในโจทย์</li>

        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
