@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Visual Search</u></p>
    <ol class="procContentSize">
        <li>ระบบจะกำหนดรูปทรงเรขาคณิตที่จะให้ท่านค้นหา เช่น วงกลมสีฟ้า สี่เหลี่ยมสีแดง วงกลมสีเขียว ฯลฯ</li>
        <li>โจทย์จะปรากฏภาพที่ประกอบไปด้วยรูปทรงเรขาคณิตที่มีลักษณะรูปร่าง สี และจำนวนที่แตกต่างกัน</li>
        <li>ให้ท่านค้นหารูปทรงเรขาคณิตที่กำหนดให้ (ข้อ 1.) ในภาพโจทย์ตามที่ระบบกำหนดให้ (ข้อ 2.) 
                    เมื่อพบแล้วให้คลิกที่รูปเรขาคณิตนั้น
                    </li>

        <p align="center"> หมายเหตุ	ผลการทดลองนี้ไม่มีความเกี่ยวข้องกับความสามารถทางเชาวน์ปัญญา หรือ IQ 
เนื่องจากมีวัตถุประสงค์เพื่อแสดงให้เห็นว่า การประมวลสารสนเทศของมนุษย์อาจจะได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
