@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

    <p>
        ﻿Visual Search เป็นรูปแบบหนึ่งของการทดลองในหมวดความตั้งใจของมนุษย์ 
โดยศึกษาเรื่องการจำแนก เป้าหมาย (Target) ออกจากสิ่งรบกวน (Noise) กล่าวคือ 
ความแม่นยำและเวลาในการตอบสนองขึ้นอยู่กับ จำนวนสิ่งรบกวนที่ปรากฏ 
รวมถึงความใกล้เคียงกันของลักษณะเป้าหมายและลักษณะสิ่งรบกวน ดังนั้น ถ้าสิ่งรบกวนมีจำนวนมากและมีลักษณะใกล้เคียงกับเป้าหมาย 
จะทำให้เวลาในการตอบสนองเพิ่มมากขึ้น และความแม่นยำในการระบุเป้าหมายลดลง
    </p>

    <div >
        <p>อ้างอิง</p>

        <p style="font-size:12px;">
            Eriksen, C. W. and Schultz, D. W. (1979). Information Processing in Visual Search: A Continuous Flow Conception and Experimental Results.
            Perception & Psychophysics, Vol. 25(4), pp. 249-263.</ul>
        </p>
    </div>

    <br>

</body>
</html>
