@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >
    <p><u class="procHeaderSize">ขั้นตอนการทดลอง Visual Search</u></p>
    <ol class="procContentSize">
        <li>ระบบจะกำหนดลักษณะรูปเลขาคณิต เพื่อให่ท่านทำการค้นหา  (เช่น วงกลมสีฟ้า สี่เหลี่ยมสีแดง วงกลมสีเขียว)</li>
        <li>โจทย์จะปรากฏเป็นรูปเลขาคณิตซึ่งมีลักษณะรูปร่าง  สี และจำนวนแตกต่างกัน</li>
        <li>ให้ท่านมองหาและคลิกรูปเลขาคณิตซึ่งปรากฏในโจทย์  ตามที่ระบบกำหนดให้ค้นหา</li>

        <p align="center"> ผลการทดลองที่ได้ไม่ได้ระบุถึงความสามารถหรือIQแต่แสดงให้เห็นว่าการประมวลสารสนเทศของมนุษย์สามารถได้รับอิทธิพลจากสิ่งเร้าหลายรูปแบบ </p>
    </ol>
</div>

</body>
</html>
