@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
<div class="iframeContent" >

    <p>
        Visual Search เป็นการศึกษาหนึ่งในหมวดความตั้งใจ (Attention)
        โดยศึกษาเรื่องการจำแนกเป้าหมาย (Target) ออกจากสิ่งรบกวน (Noise)
        ทั้งนี้ความแม่นยำและเวลาในการตอบสนองขึ้นอยู่กับจำนวนสิ่งรบกวนที่ปรากฏ
        รวมถึงความใกล้เคียงกันในลักษณะของเป้าหมายและสิ่งรบกวน
        กล่าวคือ เมื่อสิ่งรบกวนมีจำนวนมากและมีลักษณะใกล้เคียงกับเป้าหมาย
        จะทำให้เวลาในการตอบสนองเพิ่มมากขึ้น และความแม่นยำในการระบุเป้าหมายจะลดลง
    </p>

    <div >
        <p>อ้างอิง</p>

        <p style="font-size:12px;">
            Eriksen, C. W. and Schultz, D. W. (1979). Information Processing in Visual Search: A Continuous Flow Conception and Experimental Results.
            Perception & Psychophysics, Vol. 25(4), pp. 249-263.</ul>
        </p>
    </div>

    <br>

</body>
</html>
