@(user: User)
@header("Human Information Processing Lab :: Home Page")
<body>
<div class="fixSize">
    <!-- Page Header -->
    @nav(user)
    <!-- Content -->
    <div class="procBody">
        <iframe src="@routes.ChangeBlindness.procIframe()" class="procContent" frameborder="0" ></iframe>
        <div class="container">
            @if(flash.containsKey("repeat")) {
            <div class="alert alert-danger">@flash.get("repeat")</div>
            }
            <div class="procButtonRed">
                <a href="@routes.ChangeBlindness.info()" class="btn btn-block btn-lg btn-danger" ><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>  &nbsp;
            </div>
            <div class="procButtonBlue">
                <a href="@routes.ChangeBlindness.demoPage()" class="btn btn-block btn-lg btn-primary" ><span class="glyphicon glyphicon-play"></span> ทดลองเล่น</a>  &nbsp;
            </div>
            <div class="procButtonGreen">
                <a href="@routes.Application.chooseTrial(ExperimentType.CHANGEBLINDNESS.toString())" class="btn btn-block btn-lg btn-success" ><span class="glyphicon glyphicon-th-list"></span>&nbsp; เริ่มการทดลอง</a>
            </div>
        </div>
    </div>
    @footer()
</div>
