@(user : User)
@header("Human Information Processing Lab :: About HIP")

<body>

@nav(user)
<!-- Page Header -->
<div class="container">

<p>ในปัจจุบัน เทคโนโลยีคอมพิวเตอร์นับได้ว่ามีความสำคัญต่อมนุษย์อย่างมาก 
เนื่องจากคอมพิวเตอร์ได้เป็นส่วนหนึ่งของการทำงานหลาย ๆ อย่าง เพื่อช่วยลดภาระการทำงานของมนุษย์ลง 
แต่อย่างไรก็ดี ถึงแม้ว่าคอมพิวเตอร์ในปัจจุบันมีประสิทธิภาพมากขึ้นและสามารถทำงานได้อย่างอิสระ
ระบบคอมพิวเตอร์ยังถือว่าเป็นเครื่องมือในการทำงาน และยังจำเป็นต้องอาศัยมนุษย์เป็นผู้ควบคุมการทำงานเป็นหลัก</p>

<p>นอกเหนือจากความสามารถเชิงเทคนิคแล้ว ปัจจัยหนึ่งซึ่งบ่งชี้ถึงประสิทธิภาพของระบบคอมพิวเตอร์ก็คือความยากง่ายในการใช้งานของระบบ
การออกแบบระบบคอมพิวเตอร์ เพื่อให้ผู้ใช้สามารถใช้งานได้ง่ายนั้น จำเป็นต้องมีความรู้ความเข้าใจเรื่องการปฏิสัมพันธ์ระหว่างมนุษย์และคอมพิวเตอร์
และปัจจัยหลักซึ่งส่งผลต่อวิธีการปฏิสัมพันธ์ระหว่างมนุษย์และคอมพิวเตอร์นั้น ก็คือวิธีการประมวลสารสนเทศของมนุษย์ 
หากผู้พัฒนาระบบมีความเข้าใจในวิธีการประมวลสารสนเทศของมนุษย์ ผู้พัฒนาจะสามารถออกแบบระบบที่ตอบสนองการปฏิสัมพันธ์ระหว่างมนุษย์และคอมพิวเตอร์
ได้อย่างมีประสิทธิภาพ</p>

<p>วิชา "การประมวลสารสนเทศของมนุษย์" (Human Information Processing) ได้บรรจุเป็นรายวิชาระดับปริญญาตรี ภาควิชาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยธรรมศาสตร์ 
โดยมีจุดประสงค์ เพื่อให้นักศึกษาได้มีความรู้ความเข้าใจเรื่องการประมวลสารสนเทศของมนุษย์ 
และเพื่อให้นักศึกษาตระหนักถึงความสำคัญของการพัฒนาและออกแบบระบบเพื่อตอบสนองการปฏิสัมพันธ์ระหว่างมนุษย์และคอมพิวเตอร์ </p>

<p>อย่างไรก็ดี เนื้อหาในรายวิชาการประมวลสารสนเทศของมนุษย์ มีพื้นฐานมาจากวิชาจิตวิทยา (Psychology) และวิทยาการปัญญา (Cognitive Science) 
ซึ่งกล่าวถึงกระบวนการทางพุทธิปัญญาต่าง ๆ ซึ่งอยู่ในเชิงนามธรรม เช่น ความตั้งใจ (Attention) การรับรู้ (Perception) ความจำระยะสั้น (Short-Term Memory) 
การตัดสินใจ (Decision Making) การรู้จำแบบ (Pattern Recognition) ทำให้ยากต่อการทำความเข้าใจ</p>

<p>ผู้พัฒนาหวังว่า Human Information Processing Lab จะเป็นสื่อการเรียนการสอนที่มีประโยชน์ต่อนักศึกษา และเสริมความเข้าใจที่มีต่อการประมวลสารสนเทศของมนุษย์</p><br>
</div>
@footer()
