@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->

    <div class="">
          <h3 class="hipTitle"align="center" >Human Information Processing Lab</h3>
         <!-- Page Header Menu-->
          <h6 align="center" class="topMenu">
               <a href="#">หน้าแรก</a>&nbsp; | &nbsp;
               <a href="about_hip.html">เกี่่ยวกับ HIP Lab</a>&nbsp; | &nbsp;
               <a href="#">ผลการทดลอง</a>
          </h6>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>

<!-- Content -->
<!-- Explanation -->
<div class="infoContainer">
    <div class="infoContent">
        <iframe src="STMBtIframe" frameborder="0" width="450" height="350"></iframe>
    </div>
    <!-- Right Panel -->  
    <div class="infoButton" >
        <img src="@routes.Assets.at("images/brown_peterson.png")" class="divPngInfo"><h6 class="marginWord">Brown Peterson</h6>
    <!-- Buttons -->  
      
          <a href="@routes.Application.home()" class="btn btn-block btn-lg btn-danger"  ><span class="fui-arrow-left" ></span> ย้อนกลับ</a>  &nbsp; 
          <a href="STMBtProc" class="btn btn-block btn-lg btn-primary"><span class="fui-arrow-right"></span> อ่านขั้นตอนการทดลอง</a>
    </div>
</div>
@footer()
