@(title :String)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/demo.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/docs.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flat-ui.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/scrollbar.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/rabbit.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/submitButton.css ")">
    <title>@title</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/main.js")"></script>

</head>