@(user : User)
@header("Human Information Processing Lab :: Home Page")

<body>


<!-- Page Header -->
@nav(user)
<!-- Image Slide Menu -->

    <!--Perception -->
            <div class="homeMain">
                <div class="tile homeMenu1" id="slide01" ><img src="@routes.Assets.at("images/perception.png")" width="150" height="150"><br><br><br>
                <a  id="slide01" class="btn btn-block btn-lg btn-primary">
                <span class="fui-list"></span>&nbsp;&nbsp;Perception</a></div>

    <!-- Attention -->
                <div class="tile homeMenu1" id="slide02" ><img src="@routes.Assets.at("images/attention.png")" width="150" height="150"><br><br><br>
                <a  id="slide02" class="btn btn-block btn-lg btn-primary">
                <span class="fui-list"></span>&nbsp;&nbsp;Short-Term Memory</a></div>

    <!--Short-Term Memory -->
                <div class="tile homeMenu1" id="slide03" ><img src="@routes.Assets.at("images/shortmem.png")" width="150" height="150"><br><br><br>
                <a  id="slide01" class="btn btn-block btn-lg btn-primary">
                <span class="fui-list"></span>&nbsp;&nbsp;Attention</a></div>
            </div>
<br>


<!-- Perception Panel -->
<div class="divSlideContainer"  id="panel01">
        <div class="divSlideTitle" >
            <span class="fui-list"></span>&nbsp;&nbsp;Perception
        </div>
        <div class="divContainer1" >
             <div class="divExperimentIcon" >
                      <a  href="PCB"><img class="divPng"  src="@routes.Assets.at("images/change_blindness.png")"></a>
                   <div>
                      <a href="PCB">Change Blindness</a>
                   </div> 
             </div> 
        </div>
</div>


<!-- Short-Term Memory Panel -->

<div class="divSlideContainer"  id="panel02">
    <div class="divSlideTitle"><span class="fui-list"></span>&nbsp;&nbsp;Attention</div>
    
    <div class="divContainer">

      <div class="divExperimentIcon" >
        <a  href="XXXXX"><img class="divPng"  src="@routes.Assets.at("images/sternberg_search.png")"></a>
          <div><a href="XXXXX">Sternberg Search</a></div> 
      </div>
      <div class="divExperimentIcon" >
        <a  href="STMBt"><img class="divPng"  src="@routes.Assets.at("images/brown_peterson.png")"></a>
          <div><a href="STMBt">Brown-Peterson Task</a></div> 
      </div>
    </div>
</div>


<!-- Attention Panel -->

<div class="divSlideContainer"  id="panel03">
    <div class="divSlideTitle"><span class="fui-list"></span>&nbsp;&nbsp;Attention</div>
    
    <div class="divContainer">

      <div class="divExperimentIcon" >
        <a  href="XXXXX"><img class="divPng"  src="@routes.Assets.at("images/stroop_effect.png")"></a>
          <div><a href="XXXXX">Stroop Effect</a></div> 
      </div>
      <div class="divExperimentIcon" >
        <a  href="XXXXX"><img class="divPng"  src="@routes.Assets.at("images/attention_blink.png")"></a>
          <div><a href="XXXXX">Attention Blink</a></div> 
      </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
@footer()

