@(form: Form[UserForm])
@header("Human Information Processing Lab")

<script>

    function init(){
        document.loginForm.username.focus();
    }
</script>

<body onload="init()" >
<!-- Page Header -->

  <h3 class="hipTitle"align="center" >Human Information Processing Lab</h3>
   <h4 class="titleLine"></h4>

<!-- Login -->
  <br><br>
<div class="middle">
<!-- Login Left Panel -->
    <div class="cstuIcon"  align="center">
          <img src="@routes.Assets.at("images/cstu.png")"  wusernameth="80" height="80">
         <br><br>
         <h4 class="tile-title">Hello and welcome!</h4>
         <small style="font-size:14px;">Type-in your username and password to login</small>

    </div >

<!-- Login Right Panel -->
<!-- Login Right Panel : Gray BG -->
        <div   class="loginI login-form ">
            
<!-- Login Right Panel : Username form --> 

            <form action="@routes.Application.authenticate()"name="loginForm" method="post"> 
            <div class="form-group">
              <input name="username" style="padding:10px 38px;" type="text" class="form-control login-field login-name" value="" placeholder="Username">
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>
            
<!-- Login Right Panel : Password form --> 
            <div class="form-group">
              <input name="password" style="padding:10px 38px;" type="password" class="form-control login-field login-pass" value="" placeholder="Password" >
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

<!-- Login Right Panel : Login Button -->           
          <br> 
                     
           <button class="btn btn-block btn-lg btn-success" type="submit"> 
            Login
            </button> 
            </form>
      </div>
</div>
@footer()
