@header("initial config")
<body>
    <div class="container">
        <div class="page-header">
            <h1>Initial Config</h1>
        </div>
        <div>
            <h3>Brown Peterson</h3>
            <a href="@routes.BrownPeterson.installQuestion()" class="btn btn-danger btn-lg" 
            >Install Question</a>
            <h3>Attention Blink</h3>
            <a href="@routes.StroopEffect.installQuestion()" class="btn btn-danger btn-lg"
            >Install Question</a>
        </div>
    </div>
</body>
</html>