@(user : User)
<!-- Page Header -->
    <div class="nav navbar">
        <div class="login-bar" >
          @if(user.status == UserRole.ADMIN){
            <a href="@routes.Admin.index()">&#91;admin&#93;</a>
          }
          <img src="@routes.Assets.at("images/user13.png")" style="width:1.5%;"</img> 
          <span>@request().username()  </span>
          <a href="@routes.Application.logout()"><button type="button" class="btn btn-danger btn-xs" style="margin-right:5px;"><b>Log Out</button></b></a>
        </div>
          <h3 class="hipTitle"align="center" >Human Information Processing Lab</h3>
         <!-- Page Header Menu-->
          <h6 align="center" class="topMenu">
               <a href="@routes.Application.home()">หน้าแรก</a>&nbsp; | &nbsp;
               <a href="@routes.Application.about()">เกี่่ยวกับ HIP Lab</a>&nbsp;  &nbsp;
          </h6>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>
