@(user : User)
<!-- Page Header -->
    <div class="nav navbar">
        <div class="login-bar" >
          @if(user.status == UserRole.ADMIN){
            <a href="@routes.Admin.index()">&#91;admin&#93;</a>
          }else{
            <a href="@routes.UserController.editProfile()">&#91;User profile &#93;</a>
          }
          <span>@request().username()  </span>
            <a href="@routes.Application.logout()"><button type="button" class="btn btn-default btn-xs">logout</button></a>
        </div>
          <h3 class="hipTitle"align="center" >Human Information Processing Lab</h3>
         <!-- Page Header Menu-->
          <h6 align="center" class="topMenu">
               <a href="@routes.Application.home()">หน้าแรก</a>&nbsp; | &nbsp;
               <a href="@routes.Application.about()">เกี่่ยวกับ HIP Lab</a>&nbsp; | &nbsp;
               <a href="#">ผลการทดลองทั้งหมด</a>
          </h6>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>
<br>
