@(user : User)
@header("Human Information Processing Lab :: Home Page")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/select_experiment.css")">
<body>

<!-- Page Header -->
@nav(user)

    <div class="seMainWindow">
    
        <div class="category">

            <div class="categoryTitle" align="center">
                <span> Attention </span>
            </div>
    
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/attn01_attentional_blink.png")">
                <a class="btn btn-default exButton" href="@routes.AttentionBlink.info()"> Attention Blink </a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/attn02_simon_effect.png")">
                <a class="btn btn-default exButton"> Simon Effect</a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/attn03_stroop_effect.png")">
                <a class="btn btn-default exButton" href="@routes.StroopEffect.info()"> Stroop Effect </a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/attn04_visual_search.png")">
                <a class="btn btn-default exButton"> Visual Search</a>
            </div>

        </div>
        <div class="category">

            <div class="categoryTitle" align="center">
                <span> Short-Term Memory</span>
            </div>

            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/stm01_brown_peterson.png")">
                <a class="btn btn-default exButton" href="@routes.BrownPeterson.info()"> Brown Peterson </a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/stm02_magic_number7.png")">
                <a class="btn btn-default exButton"> Magic Number 7</a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/stm03_position_error.png")">
                <a class="btn btn-default exButton" href="@routes.PositionError.info()"> Position Error</a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/stm04_sternberg_search.png")">
                <a class="btn btn-default exButton" href="@routes.SternbergSearch.info()"> Sternberg Search</a>
            </div>

        </div>
        <div class="category">

            <div class="categoryTitle" align="center">
                <span> Perception</span>
            </div>

            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/perc01_change_blindness.png")">
                <a class="btn btn-default exButton"> Change Blindness</a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/perc02_garner_interference.png")">
                <a class="btn btn-default exButton"> Garner Interference</a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/perc03_muller.png")">
                <a class="btn btn-default exButton"> Muller-Layer Illusion</a>
            </div>
            <div class="exIcon" align="center">
                <img class="exImage" src="@routes.Assets.at("images/perc04_signal_detection.png")">
                <a class="btn btn-default exButton" href="@routes.SignalDetection.info()"> Signal Detection</a>
            </div>

        </div>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
@footer()

