@(user : User)
@header("Human Information Processing Lab :: Home Page")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/select_experiment.css")">
<body>
<div class="fixSize">
<!-- Page Header -->
@nav(user)

    <div class="seMainWindow">
    
        <div class="category">

            <div class="categoryTitle" align="center">
                <span> Attention </span>
            </div>
    
            <div class="exIcon" align="center">
                <a  href="@routes.AttentionBlink.info()">
                    <img class="exImage" src="@routes.Assets.at("images/attn01_attentional_blink.png")">
                   <span class="exWord" align="center"> Attention Blink </span></a>
            </div>
            <div class="exIcon" align="center">
                <a >
                <img class="exImage" src="@routes.Assets.at("images/attn02_simon_effect.png")">
                <span class="exWord"> Simon Effect</span></a>
            </div>
            <div class="exIcon" align="center">
                <a  href="@routes.StroopEffect.info()">
                <img class="exImage" src="@routes.Assets.at("images/attn03_stroop_effect.png")">
                 <span class="exWord">Stroop Effect </span></a>
            </div>
            <div class="exIcon" align="center">
                <a >
                <img class="exImage" src="@routes.Assets.at("images/attn04_visual_search.png")">
                 <span class="exWord">Visual Search</span></a>
            </div>

        </div>
        <div class="category">

            <div class="categoryTitle" align="center">
                <span > Short-Term Memory</span>
            </div>

            <div class="exIcon" align="center">
                <a  href="@routes.BrownPeterson.info()">
                <img class="exImage" src="@routes.Assets.at("images/stm01_brown_peterson.png")">
                 <span class="exWord">Brown Peterson </span></a>
            </div>
            <div class="exIcon" align="center">
                <a >
                <img class="exImage" src="@routes.Assets.at("images/stm02_magic_number7.png")">
                 <span class="exWord">Magic Number 7</span></a>
            </div>
            <div class="exIcon" align="center">
                <a  href="@routes.PositionError.info()">
                <img class="exImage" src="@routes.Assets.at("images/stm03_position_error.png")">
                 <span class="exWord">Position Error</span></a>
            </div>
            <div class="exIcon" align="center">
                <a  href="@routes.SternbergSearch.info()">
                <img class="exImage" src="@routes.Assets.at("images/stm04_sternberg_search.png")">
                 <span class="exWord">Sternberg Search</span></a>
            </div>

        </div>
        <div class="category">

            <div class="categoryTitle" align="center">
                <span > Perception</span>
            </div>

            <div class="exIcon" align="center">
                <a >
                <img class="exImage" src="@routes.Assets.at("images/perc01_change_blindness.png")">
                 <span class="exWord">Change Blindness</span></a>
            </div>
            <div class="exIcon" align="center">
                <a >
                <img class="exImage" src="@routes.Assets.at("images/perc02_garner_interference.png")">
                 <span class="exWord">Garner Interference</span></a>
            </div>
            <div class="exIcon" align="center">
                <a >
                <img class="exImage" src="@routes.Assets.at("images/perc03_muller.png")">
                 <span class="exWord">Muller-Layer Illusion</span></a>
            </div>
            <div class="exIcon" align="center">
                <a  href="@routes.SignalDetection.info()">
                <img class="exImage" src="@routes.Assets.at("images/perc04_signal_detection.png")">
                 <span class="exWord">Signal Detection</span></a>
            </div>

        </div>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
@footer()
</div>

