@(expType : String , user : User)
@header("Human Information Processing Lab :: Trial")

<body>


<!-- Page Header -->
@nav(user)
<div class="container">
    @for(exp <- ExperimentSchedule.getWorkingExperimentsByType(expType)) {
        <h3>@exp.name</h3>
        @exp.experimentType match {
            case ExperimentType.BROWNPETERSON => {
                @for((trial, index) <- models.brownPeterson.Trial.findInvolving(exp).zipWithIndex ){
                    @if(TimeLog.isRepeatTrial(user, trial.id, exp)){
                        <p><button disabled class="btn btn-lg btn-block btn-success">Trial @{ index + 1 }</button></p>
                    }else{
                        <p><a href="@routes.Application.checkUserTakeRepeatExperiment(trial.id, exp.id)"><button class="btn btn-lg btn-block btn-success">Trial @{ index + 1 }</button></a></p>
                    }
                }
            }
            case ExperimentType.STROOPEFFECT => {
                @for((trial, index) <- models.stroopEffect.Trial.findInvolving(exp).zipWithIndex ){
                    @if(TimeLog.isRepeatTrial(user, trial.id, exp)){
                        <p><button disabled class="btn btn-lg btn-block btn-success">Trial @{ index + 1 }</button></p>
                    }else{
                        <p><a href="@routes.Application.checkUserTakeRepeatExperiment(trial.id, exp.id)"><button class="btn btn-lg btn-block btn-success">Trial @{ index + 1 }</button></a></p>
                    }
                }
            }
            case _ => {
                <div class="alert alert-danger">Experiment is not found!!</div>
            }
        }
        
    }
    <br>
</div>

@footer()