@(user : User)
@header("Human Information Processing Lab :: Home Page")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/datepicker.css ")">
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
<body>
    @nav(user)
    <div class="profileBody">
        <h4  >  User Profile  </h4>
	<div>
            <form action="@routes.UserController.saveUserProfile()" method="post" name="userForm">
                      <div class="textLabel"> 
                            <span>ชื่อ/Firstname &nbsp :</span>
                      </div>
                            <input type="text" autocomplete="off" name="firstName" value="@user.firstName"> 
                      <div class="textLabel"> 
                            <span>นามสกุล/Lastname &nbsp :</span>
                      </div>
                            <input type="text" autocomplete="off" name="lastName" value="@user.lastName"> 
                      <div class="textLabel"> 
                            <span>เพศ / Gender &nbsp :</span>
                      </div>
                            <input type="text" autocomplete="off" name="gender" value="@user.gender"> 
                      <div class="textLabel"> 
                            <span>วัน-เดือน-ปี เกิด / Birth Date &nbsp :</span>
                      </div>
                            <input type="text" autocomplete="off" name="birthDate" value="@user.birthDate"> 
                      <div class="textLabel"> 
                            <span>เซค / Section &nbsp :</span>
                      </div>
                            <input type="text" autocomplete="off" name="section" value="@user.section"> 
                      <div class="textLabel"> 
                            <span>ปีการศึกษา / Semester &nbsp :</span>
                      </div>
                            <input type="text" autocomplete="off" name="semester" value="@user.semester"> 
                      <div class="textLabel"> 
                            <span>ชั้นปี / Year &nbsp :</span>
                      </div>
                            <input type="text" autocomplete="off" name="year" value="@user.year"> 
                      <div class="textLabel"> 
                            <span>e-mail &nbsp :</span>
                      </div>
                            <input type="text" autocomplete="off" name="eMail" value="@user.eMail"> 
            </form>
                 <div class="profileSubmitButton">   
                    <div class="submitButtonContainer">
                        <button type="submit" class="submitButton" > Submit</button>
                   </div>
                </div>
	</div>
    </div>
@footer()
