@(user : User)
@import views.html.admin._
@header("Human Information Processing Lab :: Home Page")
<script src="@routes.Assets.at("javascripts/userProfile.js")"></script>
<script>

    function initFocusPoniter(){
        document.userProfileForm.firstName.focus();
    }
</script>
<body onload="initFocusPoniter()" >
    @nav(user)
    @if(flash.containsKey("success")){
            <div class="alert alert-success submitSuccess" align="center">@flash.get("success")</div>
            }
    <div class="container">
        <h4 >  User Profile </h4>
            <form role="form" class="form-horizontal" name="userProfileForm"  onsubmit="return submitButtonClick()"  action="@routes.UserController.saveUserProfile()" method="post">
              <div class="well">
                  <div class="form-group">
                        <label for="username" class="col-sm-4 control-label"> 
                              Username
                        </label>
                        <div class="col-sm-3">
                              <input type="text" class="form-control" autocomplete="off" value="@user.username" disabled>
                        </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-4 col-sm-3">
                          <a href = "@routes.UserController.changeUserPassword()">เปลี่ยนรหัสผ่าน</a>
                      </div>
                  </div>
                  <div class="form-group">
                        <label for="firstName" class="col-sm-4 control-label"> 
                              ชื่อ
                        </label>
                        <div class="col-sm-3">
                              <input type="text" class="form-control" id="firstnameInput" autocomplete="off" name="firstName" value="@user.firstName">
                        </div>
                        <div>
                            <label class="alertText" id="firstnameAlert"  > <i> *  Please enter Firstname</i></label>
                        </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName" class="col-sm-4 control-label"> 
                              นามสกุล
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="lastnameInput" autocomplete="off" name="lastName" value="@user.lastName">
                        </div>
                        <div>
                            <label class="alertText" id="lastnameAlert"  > <i> *  Please enter Lastname</i></label>
                        </div>
                  </div>
                  <div class="form-group">
                       <label for="gender" class="col-sm-4 control-label"> 
                              เพศ
                        </label>
                        <div class="col-sm-3">
                              <label class="radio-inline">
                                <input type="radio" value="male" name="gender" @if(user.gender.equals("male")){ checked }> ชาย
                              </label>
                              <label class="radio-inline">
                                <input type="radio" value="female" name="gender" @if(user.gender.equals("female")){ checked } > หญิง
                              </label>
                              <div hidden >
                                <label class="radio-inline">
                                  <input id ="other" type="radio" value="other" name="gender" @if(user.gender.equals("") || user.gender.equals("other")){ checked }> อื่นๆ
                                </label>
                              </div>
                        </div>
                        <div>
                          <label class="alertText" id="genderAlert"  > <i> *  Please select your Gender</i></label>
                        </div>
                  </div>
                  <div class="form-group">
                       <label for="birthDate" class="col-sm-4 control-label"> 
                              วัน-เดือน-ปี เกิด 
                        </label>
                        <div class="col-sm-3">
                          <div class="input-group date" id="birthdate-picker">
                              <input type="text" class="form-control" data-format="DD/MM/YYYY" autocomplete="off" name="birthDate" id="birthInputBox" 
                              @if(user.birthDate != null){
                                value="@user.birthDate.format("dd/MM/yyyy")"
                              } placeholder="dd/mm/yyyy" disabled>

                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                          </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#birthdate-picker').datetimepicker()
                            });
                        </script>
                  </div>
                  <div class="form-group">
                       <label for="eMail" class="col-sm-4 control-label"> 
                              e-mail 
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="emailInput" autocomplete="off" name="eMail" value="@user.eMail">
                        </div>
                        <div>
                            <label class="alertText" id="emailAlert"  > <i> *  Please enter e-mail</i></label>
                        </div>
                  </div>
                  <div class="form-group">
                       <label for="section" class="col-sm-4 control-label"> 
                              เซคชั่น 
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" onkeypress='validateSemester(event)' autocomplete="off" name="section" id="sectionInput"value="@user.section" disabled>
                        </div>
                        <div>
                            <label class="alertText" id="sectionAlert"  > <i> *  Please enter Section</i></label>
                        </div>
                  </div>
                  <div class="form-group">
                       <label for="semester" class="col-sm-4 control-label"> 
                              ภาคเรียน / ปีการศึกษา
                        </label>
                        <div class="col-sm-1">
                            <input style="width:110%;"type="number" min="1" max="3" class="form-control" onkeypress='validateSemester(event)'id="semesterInput"  autocomplete="off" name="semester" value="@user.semester" disabled>
                        </div>
                        <div class="slash" > / </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="academicYear" onkeypress='validateSemester(event)' autocomplete="off" name="academicYear" value="@user.academicYear" disabled>
                        </div>
                        <div>
                            <label class="alertText" id="semesterAlert"  > <i> *  Please enter semester </i></label>
                        </div>
                  </div>
                  <div class="form-group">
                       <label for="year" class="col-sm-4 control-label"> 
                              ชั้นปี
                        </label>
                        <div class="col-sm-1">
                            <input style="width:110%;" type="number" min="1" max="7" class="form-control" id="yearInput" onkeypress='validateSemester(event)' autocomplete="off" name="year" value="@user.year">
                        </div>
                        <div>
                            <label class="alertText" id="yearAlert"  > <i> *  Please enter Year</i></label>
                        </div>
                  </div>


                  <div class="form-group">
                       <label for="department" class="col-sm-4 control-label"> 
                              ภาควิชา 
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="departmentInput" autocomplete="off" name="department" value="@user.department" disabled>
                        </div>
                        <div>
                            <label class="alertText" id="departmentAlert"  > <i> *  Please enter department</i></label>
                        </div>
                  </div>


                  <div class="form-group">
                       <label for="faculty" class="col-sm-4 control-label"> 
                              คณะ 
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="facultyInput" autocomplete="off" name="faculty" value="@user.faculty" disabled>
                        </div>
                        <div>
                            <label class="alertText" id="facultyAlert"  > <i> *  Please enter faculty</i></label>
                        </div>
                  </div>


                  <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-3">
                  <button id="submit-button" type="submit" class="btn btn-success btn-lg" >Submit</button>
                  </div>
                  </div>
            
          </div>
          </form>
	</div>
  
@footer()
