@(user : User)
@header("Human Information Processing Lab :: Home Page")

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/datepicker.css ")">
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
<body>
    @nav(user)
        <h4 align="center" >  User Profile  </h4>
	<div>
            <form action="@routes.UserController.saveUserProfile()" method="post" name="userForm">
              <div> 
                    <span>ชื่อ/Firstname</span>
                    <input type="text" autocomplete="off" name="firstName" value="@user.firstName"> 
              </div>
              <div> 
                    <span>นามสกุล/Lastname</span>
                    <input type="text" autocomplete="off" name="lastName" value="@user.lastName"> 
              </div>
              <div> 
                    <span>เพศ / Gender</span>
                    <input type="text" autocomplete="off" name="gender" value="@user.gender"> 
              </div>
              <div> 
                    <span>วัน-เดือน-ปี เกิด / Birth Date</span>
                    <input type="text" autocomplete="off" name="birthDate" value="@user.birthDate"> 
              </div>
              <div> 
                        <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                          <input class="span2" size="16" type="text" value="12-02-2012">
                          <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    <span>เซค / Section</span>
                    <input type="text" autocomplete="off" name="section" value="@user.section"> 
              </div>
              <div> 
                    <span>ปีการศึกษา / Semester</span>
                    <input type="text" autocomplete="off" name="semester" value="@user.semester"> 
              </div>
              <div> 
                    <span>ชั้นปี / Year</span>
                    <input type="text" autocomplete="off" name="year" value="@user.year"> 
              </div>
              <div> 
                    <span>e-mail</span>
                    <input type="text" autocomplete="off" name="eMail" value="@user.eMail"> 
              </div>
            </form>
                <div class="submitButtonContainer">
                    <button type="submit" class="submitButton" > Submit</button>
                </div>
	</div>
@footer()
