@header("Human Information Processing Lab :: Home Page")
<!--
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

</script>
--!>
<script src="@routes.Assets.at("javascripts/mullerLayer.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/TDM-demo.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/mullerLayer.css")">
<body>
<div class="fixSize">
    <!-- Page Header -->
    <div class="">
          <h3 class="hipTitle"align="center"style="margin-top:30px;">Human Information Processing Lab</h3>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>
    <div class="expMainWindow" style="height:557px;">

    <div class="expCenterWord" style=" top:0;">
        <p id="word" style="font-size:40px;"> </p>
    </div>

        <div align="center"id="ic"  style=" visibility:hidden;" > <p style="font-size:40px;"> คลิกเส้นที่มีความยาวต่างจากเส้นอื่น </p> </div>

        <div class="mainContainer" align="center" id="mc">
            <form action="@routes.MullerLayer.demoReport()" id="answerForm"  method="post">
                <button class="arrowButton" type="submit" onclick="return doneDemo(this.name)" name="f">
                    <div class="arrowContainer">
                        <div class="lineArrow" style="width:200px"></div>
                    </div>
                </button >

                <button class="arrowButton" type="submit" onclick="return doneDemo(this.name)" name="f">
                    <div class="arrowContainer">
                        <div class="mullerArrow arrow-left" href=""></div>
                        <div class="lineArrow" style="width:200px"></div>
                        <div class="mullerArrow arrow-right" href="" style="margin-left:200.5px;"></div>
                    </div>
                </button >
                <button class="arrowButton" type="submit" onclick="return doneDemo(this.name)" name="t">
                    <div class="arrowContainer">
                        <div class="mullerArrow arrow-right" href=""></div>
                        <div class="lineArrow" style="width:190px"></div>
                        <div class="mullerArrow arrow-left" href="" style="margin-left:206.5px;"></div>
                    </div>
                </button >
                <button class="arrowButton" type="submit" onclick="return doneDemo(this.name)" name="f">
                    <div class="arrowContainer">
                        <div class="mullerArrow arrow-right" href=""></div>
                        <div class="lineArrow" style="width:200px"></div>
                        <div class="mullerArrow arrow-right" href="" style="margin-left:200.5px;"></div>
                    </div>
                </button >
                <button class="arrowButton" type="submit" onclick="return doneDemo(this.name)" name="f">
                    <div class="arrowContainer">
                        <div class="mullerArrow arrow-left" href=""></div>
                        <div class="lineArrow" style="width:200px"></div>
                        <div class="mullerArrow arrow-left" href="" style="margin-left:216.5px;"></div>
                    </div>
                </button >
                <input id="score" name="score" hidden/>
                <input id="demo" name="demo" value="demo" hidden/>
                <input id="time" name="time" hidden/>
                <input id="choice" name="choice"  hidden />
                <input id="usedTime" name="usedTime" hidden/>
                <input id="displayTime" name="displayTime" value="10"  hidden />
            </div>
        </form>
    </div>
    @footer()
</div>
