@(trial : models.mullerLayer.Trial, questionNo : Integer , lineType:List[models.mullerLayer.LineType])
@header("Human Information Processing Lab :: Home Page")
@import models.mullerLayer.LineType
@import models.mullerLayer.LenghtType
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<!--
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

</script>
--!>
<script >
    window.addEventListener('scroll',function(e){ alert(window.pageXOffset});
</script>
<script src="@routes.Assets.at("javascripts/mullerLayer.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/TDM-demo.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/mullerLayer.css")">
<body onload="setUp(@trial.quizzes(questionNo).differLenght,@trial.quizzes(questionNo).differChoice)">
<div class="fixSize">
    <!-- Page Header -->
    <div class="">
          <h3 class="hipTitle"align="center"style="margin-top:30px;">Human Information Processing Lab</h3>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>
    <div class="expMainWindow" style="height:507px;">

    <div class="expCenterWord">
        <p id="word"> </p>
    </div>

        <div align="center"id="ic"  style="padding-top:12px; visibility:hidden;" > <h3> คลิกเส้นที่มีความยาวต่างจากเส้นอื่น  </h3> </div>

        <div class="mainContainer" align="center" id="mc">
            <form id="answerForm"  action="@routes.MullerLayer.saveAnswer(trial.id,questionNo)" method="post">
                @for((line, index)  <- lineType.zipWithIndex){

                        


                    @line match{
                        case LineType.NONE => {
                        <button class="arrowButton" type="submit" onclick="return done(this.id,@trial.quizzes(questionNo).differChoice)" id="@index">
                            <div class="arrowContainer">
                                <div class="lineArrow" ></div>
                            </div>
                        </button >
                        }
                        case LineType.OUT =>{
                        <button class="arrowButton" type="submit" onclick="return done(this.id,@trial.quizzes(questionNo).differChoice)" id="@index">
                            <div class="arrowContainer">
                                <div class="mullerArrow arrow-left" href=""></div>
                                <div class="lineArrow" ></div>
                                <div class="mullerArrow arrow-right arrowPos" href="" ></div>
                            </div>
                        </button >
                        }
                        case LineType.IN=>{
                        <button class="arrowButton" type="submit" onclick="return done(this.id,@trial.quizzes(questionNo).differChoice)" id="@index" >
                            <div class="arrowContainer">
                                <div class="mullerArrow arrow-right" href=""></div>
                                <div class="lineArrow" ></div>
                                <div class="mullerArrow arrow-left arrowPos aps" ></div>
                            </div>
                        </button >
                        }
                        case LineType.RIGHT=>{
                        <button class="arrowButton" type="submit" onclick="return done(this.id,@trial.quizzes(questionNo).differChoice)" id="@index">
                            <div class="arrowContainer">
                                <div class="mullerArrow arrow-right" href=""></div>
                                <div class="lineArrow" ></div>
                                <div class="mullerArrow arrow-right arrowPos" href="" ></div>
                            </div>
                        </button >
                        }
                        case LineType.LEFT=>{
                        <button class="arrowButton" type="submit" onclick="return done(this.id,@trial.quizzes(questionNo).differChoice)" id="@index">
                            <div class="arrowContainer">
                                <div class="mullerArrow arrow-left" href=""></div>
                                <div class="lineArrow" ></div>
                                <div class="mullerArrow arrow-left arrowPos aps" ></div>
                            </div>
                        </button >
                        }
                    }
                }
                
                @defining(trial.quizzes(questionNo).lenghtType){ lenghtTypes =>
                   @lenghtTypes match{
                        case LenghtType.SHORT => {
                            <div id="lenghtType" hidden> 1 </div>
                        }
                        case LenghtType.MIDDLE =>{
                            <div id="lenghtType" hidden> 2 </div>
                        }
                        case LenghtType.LONG =>{
                            <div id="lenghtType" hidden> 3 </div>
                        }
                    } 
                }
                <div id="differentChoice" hidden>  @trial.quizzes(questionNo).differChoice </div>
                <div id="differentLenght" hidden>  @trial.quizzes(questionNo).differLenght </div>
                <input id="score" name="score" hidden/>
                <input id="usedTime" name="usedTime" hidden/>
                <input id="isCorrect" name="isCorrect" type="checkbox" hidden/>
            </div>
        </form>
    </div>
    @footer()
</div>
