@(trial : models.mullerLayer.Trial, questionNo : Integer , lineType:List[models.mullerLayer.LineType], isPreview:Boolean)
@header("Human Information Processing Lab :: Home Page")
@import models.mullerLayer.LineType
@import models.mullerLayer.LengthType
<script src="@routes.Assets.at("javascripts/submitButton.js")"></script>
<!--
<script src="@routes.Assets.at("javascripts/disableNavigatorFunction.js")"></script>
 <script>
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}

</script>
--!>
<script >
    window.addEventListener('scroll',function(e){ alert(window.pageXOffset});
</script>
<script src="@routes.Assets.at("javascripts/mullerLayer.js")"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/TDM-demo.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/mullerLayer.css")">
<body onload="setUp(@trial.quizzes(questionNo).differLength,@trial.quizzes(questionNo).differChoice)">
<div class="fixSize">
    <!-- Page Header -->
    <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/mullerLayer.js")"></script>
    <div class="">
          <h3 class="hipTitle"align="center"style="margin-top:30px;">Human Information Processing Lab</h3>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>
    <div style="margin:0px 0px 20px 0px">

        <div class="expCenterWord">
            <p id="word"> </p>
        </div>

        <div align="center"id="ic"  style="visibility:hidden;" > <h3> เลือกเส้นที่มีความยาวต่างจากเส้นอื่น  </h3> </div>

        <div class="mainContainer" style="margin-top: 50px; width:100%; margin-left:-5%;" align="center" id="mc" ng-app="MullerLayerApp" ng-controller="MullerLayerController" ng-init="init(@trial.id, @questionNo)">
            <form id="answerForm"  action="@routes.MullerLayer.saveAnswer(trial.id,questionNo,isPreview)" method="post">
                <div class="visualArea" style="width:1200px;height:400px;margin-left:0;left:0;top:0;position: relative">
                    <canvas id="arrowPreview" width="800" height="400"></canvas>
                    <button type="submit" class="btn btn-success"  onclick="return done(1)" style="position: absolute;top:10px" >เลือก</button>
                    <button type="submit" class="btn btn-success"  onclick="return done(2)" style="position: absolute;top:80px" >เลือก</button>
                    <button type="submit" class="btn btn-success"  onclick="return done(3)" style="position: absolute;top:150px" >เลือก</button>
                    <button ng-if="quiz.noOfChoice > 3" type="submit" class="btn btn-success"  onclick="return done(4)" style="position: absolute;top:210px" >เลือก</button>
                    <button ng-if="quiz.noOfChoice > 4" type="submit" class="btn btn-success"  onclick="return done(5)" style="position: absolute;top:280px" >เลือก</button>
                </div>

                <input id="usedTime" name="usedTime" hidden/>
                <input id="choice" name="choice"  hidden />
            </form>
        </div>
    </div>
    @footer()
</div>
